.action-dropdown.pf-c-dropdown .pf-c-dropdown__toggle {
  font-size: 11pt;
}

.action-dropdown.pf-c-dropdown .pf-c-dropdown__menu-item {
  font-size: 11pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
}
