@charset "UTF-8";
.adoc-wrapper__content {
  /*! Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
  /* Uncomment the following line when using as a custom stylesheet */
  /* @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"; */
}
.adoc-wrapper__content {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  padding: 12px 0;
}
.adoc-wrapper__content a {
  background: none;
}
.adoc-wrapper__content a:focus {
  outline: thin dotted;
}
.adoc-wrapper__content a:active,
.adoc-wrapper__content a:hover {
  outline: 0;
}
.adoc-wrapper__content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.adoc-wrapper__content b,
.adoc-wrapper__content strong {
  font-weight: bold;
}
.adoc-wrapper__content abbr {
  font-size: 0.9em;
}
.adoc-wrapper__content abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #dddddf;
  text-decoration: none;
}
.adoc-wrapper__content dfn {
  font-style: italic;
}
.adoc-wrapper__content hr {
  height: 0;
}
.adoc-wrapper__content mark {
  background: #ff0;
  color: #000;
}
.adoc-wrapper__content code,
.adoc-wrapper__content kbd,
.adoc-wrapper__content pre,
.adoc-wrapper__content samp {
  font-family: monospace;
  font-size: 1em;
}
.adoc-wrapper__content pre {
  white-space: pre-wrap;
}
.adoc-wrapper__content q {
  quotes: '“' '”' '‘' '’';
}
.adoc-wrapper__content small {
  font-size: 80%;
}
.adoc-wrapper__content sub,
.adoc-wrapper__content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.adoc-wrapper__content sup {
  top: -0.5em;
}
.adoc-wrapper__content sub {
  bottom: -0.25em;
}
.adoc-wrapper__content img {
  border: 0;
}
.adoc-wrapper__content svg:not(:root) {
  overflow: hidden;
}
.adoc-wrapper__content figure {
  margin: 0;
}
.adoc-wrapper__content audio,
.adoc-wrapper__content video {
  display: inline-block;
}
.adoc-wrapper__content audio:not([controls]) {
  display: none;
  height: 0;
}
.adoc-wrapper__content fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.adoc-wrapper__content legend {
  border: 0;
  padding: 0;
}
.adoc-wrapper__content button,
.adoc-wrapper__content input,
.adoc-wrapper__content select,
.adoc-wrapper__content textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.adoc-wrapper__content button,
.adoc-wrapper__content input {
  line-height: normal;
}
.adoc-wrapper__content button,
.adoc-wrapper__content select {
  text-transform: none;
}
.adoc-wrapper__content button,
.adoc-wrapper__content html input[type='button'],
.adoc-wrapper__content input[type='reset'],
.adoc-wrapper__content input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
.adoc-wrapper__content button[disabled],
.adoc-wrapper__content html input[disabled] {
  cursor: default;
}
.adoc-wrapper__content input[type='checkbox'],
.adoc-wrapper__content input[type='radio'] {
  padding: 0;
}
.adoc-wrapper__content button::-moz-focus-inner,
.adoc-wrapper__content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.adoc-wrapper__content textarea {
  overflow: auto;
  vertical-align: top;
}
.adoc-wrapper__content table {
  border-collapse: collapse;
  border-spacing: 0;
}
.adoc-wrapper__content *,
.adoc-wrapper__content ::before,
.adoc-wrapper__content ::after {
  box-sizing: border-box;
}
.adoc-wrapper__content html,
.adoc-wrapper__content body {
  font-size: 100%;
}
.adoc-wrapper__content body {
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif', 'DejaVu Serif', serif;
  line-height: 1;
  position: relative;
  cursor: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  word-wrap: anywhere;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.adoc-wrapper__content a:hover {
  cursor: pointer;
}
.adoc-wrapper__content img,
.adoc-wrapper__content object,
.adoc-wrapper__content embed {
  max-width: 100%;
  height: auto;
}
.adoc-wrapper__content object,
.adoc-wrapper__content embed {
  height: 100%;
}
.adoc-wrapper__content img {
  -ms-interpolation-mode: bicubic;
}
.adoc-wrapper__content .left {
  float: left !important;
}
.adoc-wrapper__content .right {
  float: right !important;
}
.adoc-wrapper__content .text-left {
  text-align: left !important;
}
.adoc-wrapper__content .text-right {
  text-align: right !important;
}
.adoc-wrapper__content .text-center {
  text-align: center !important;
}
.adoc-wrapper__content .text-justify {
  text-align: justify !important;
}
.adoc-wrapper__content .hide {
  display: none;
}
.adoc-wrapper__content img,
.adoc-wrapper__content object,
.adoc-wrapper__content svg {
  display: inline-block;
  vertical-align: middle;
}
.adoc-wrapper__content textarea {
  height: auto;
  min-height: 50px;
}
.adoc-wrapper__content select {
  width: 100%;
}
.adoc-wrapper__content .subheader,
.adoc-wrapper__content .admonitionblock td.content > .title,
.adoc-wrapper__content .audioblock > .title,
.adoc-wrapper__content .exampleblock > .title,
.adoc-wrapper__content .imageblock > .title,
.adoc-wrapper__content .listingblock > .title,
.adoc-wrapper__content .literalblock > .title,
.adoc-wrapper__content .stemblock > .title,
.adoc-wrapper__content .openblock > .title,
.adoc-wrapper__content .paragraph > .title,
.adoc-wrapper__content .quoteblock > .title,
.adoc-wrapper__content table.tableblock > .title,
.adoc-wrapper__content .verseblock > .title,
.adoc-wrapper__content .videoblock > .title,
.adoc-wrapper__content .dlist > .title,
.adoc-wrapper__content .olist > .title,
.adoc-wrapper__content .ulist > .title,
.adoc-wrapper__content .qlist > .title,
.adoc-wrapper__content .hdlist > .title {
  line-height: 1.45;
  color: #7a2518;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25em;
}
.adoc-wrapper__content div,
.adoc-wrapper__content dl,
.adoc-wrapper__content dt,
.adoc-wrapper__content dd,
.adoc-wrapper__content ul,
.adoc-wrapper__content ol,
.adoc-wrapper__content li,
.adoc-wrapper__content h1,
.adoc-wrapper__content h2,
.adoc-wrapper__content h3,
.adoc-wrapper__content #toctitle,
.adoc-wrapper__content .sidebarblock > .content > .title,
.adoc-wrapper__content h4,
.adoc-wrapper__content h5,
.adoc-wrapper__content h6,
.adoc-wrapper__content pre,
.adoc-wrapper__content form,
.adoc-wrapper__content p,
.adoc-wrapper__content blockquote,
.adoc-wrapper__content th,
.adoc-wrapper__content td {
  margin: 0;
  padding: 0;
}
.adoc-wrapper__content a {
  color: #2156a5;
  text-decoration: underline;
  line-height: inherit;
}
.adoc-wrapper__content a:hover,
.adoc-wrapper__content a:focus {
  color: #1d4b8f;
}
.adoc-wrapper__content a img {
  border: 0;
}
.adoc-wrapper__content p {
  line-height: 1.6;
  margin-bottom: 0.25em;
  text-rendering: optimizeLegibility;
  font-weight: 300;
}
.adoc-wrapper__content p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}
.adoc-wrapper__content h1,
.adoc-wrapper__content h2,
.adoc-wrapper__content h3,
.adoc-wrapper__content #toctitle,
.adoc-wrapper__content .sidebarblock > .content > .title,
.adoc-wrapper__content h4,
.adoc-wrapper__content h5,
.adoc-wrapper__content h6 {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}
.adoc-wrapper__content h1 small,
.adoc-wrapper__content h2 small,
.adoc-wrapper__content h3 small,
.adoc-wrapper__content #toctitle small,
.adoc-wrapper__content .sidebarblock > .content > .title small,
.adoc-wrapper__content h4 small,
.adoc-wrapper__content h5 small,
.adoc-wrapper__content h6 small {
  font-size: 60%;
  color: #e99b8f;
  line-height: 0;
}
.adoc-wrapper__content h1 {
  font-size: 2.125em;
}
.adoc-wrapper__content h2 {
  font-size: 1.6875em;
}
.adoc-wrapper__content h3,
.adoc-wrapper__content #toctitle,
.adoc-wrapper__content .sidebarblock > .content > .title {
  font-size: 1.375em;
}
.adoc-wrapper__content h4,
.adoc-wrapper__content h5 {
  font-size: 1.125em;
}
.adoc-wrapper__content h6 {
  font-size: 1em;
}
.adoc-wrapper__content hr {
  border: solid #dddddf;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
}
.adoc-wrapper__content em,
.adoc-wrapper__content i {
  font-style: italic;
  line-height: inherit;
}
.adoc-wrapper__content strong,
.adoc-wrapper__content b {
  font-weight: bold;
  line-height: inherit;
}
.adoc-wrapper__content small {
  font-size: 60%;
  line-height: inherit;
}
.adoc-wrapper__content code {
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.adoc-wrapper__content ul,
.adoc-wrapper__content ol,
.adoc-wrapper__content dl {
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}
.adoc-wrapper__content ul {
  list-style: disc;
}
.adoc-wrapper__content ul,
.adoc-wrapper__content ol {
  margin-left: 1.5em;
}
.adoc-wrapper__content ul li ul,
.adoc-wrapper__content ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}
.adoc-wrapper__content ul.circle {
  list-style-type: circle;
}
.adoc-wrapper__content ul.disc {
  list-style-type: disc;
}
.adoc-wrapper__content ul.square {
  list-style-type: square;
}
.adoc-wrapper__content ul.circle ul:not([class]),
.adoc-wrapper__content ul.disc ul:not([class]),
.adoc-wrapper__content ul.square ul:not([class]) {
  list-style: inherit;
}
.adoc-wrapper__content ol li ul,
.adoc-wrapper__content ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}
.adoc-wrapper__content dl dt {
  margin-bottom: 0.3125em;
  font-weight: bold;
}
.adoc-wrapper__content dl dd {
  margin-bottom: 1.25em;
}
.adoc-wrapper__content blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #ddd;
}
.adoc-wrapper__content blockquote,
.adoc-wrapper__content blockquote p {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
}
@media screen and (min-width: 768px) {
  .adoc-wrapper__content h1,
  .adoc-wrapper__content h2,
  .adoc-wrapper__content h3,
  .adoc-wrapper__content #toctitle,
  .adoc-wrapper__content .sidebarblock > .content > .title,
  .adoc-wrapper__content h4,
  .adoc-wrapper__content h5,
  .adoc-wrapper__content h6 {
    line-height: 1.2;
  }
  .adoc-wrapper__content h1 {
    font-size: 2.75em;
  }
  .adoc-wrapper__content h2 {
    font-size: 2.3125em;
  }
  .adoc-wrapper__content h3,
  .adoc-wrapper__content #toctitle,
  .adoc-wrapper__content .sidebarblock > .content > .title {
    font-size: 1.6875em;
  }
  .adoc-wrapper__content h4 {
    font-size: 1.4375em;
  }
}
.adoc-wrapper__content table {
  background: #fff;
  margin-bottom: 1.25em;
  border: 1px solid #dedede;
  word-wrap: normal;
}
.adoc-wrapper__content table thead,
.adoc-wrapper__content table tfoot {
  background: #f7f8f7;
}
.adoc-wrapper__content table thead tr th,
.adoc-wrapper__content table thead tr td,
.adoc-wrapper__content table tfoot tr th,
.adoc-wrapper__content table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}
.adoc-wrapper__content table tr th,
.adoc-wrapper__content table tr td {
  padding: 0.5625em 0.625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
}
.adoc-wrapper__content table tr.even,
.adoc-wrapper__content table tr.alt {
  background: #f8f8f7;
}
.adoc-wrapper__content table thead tr th,
.adoc-wrapper__content table tfoot tr th,
.adoc-wrapper__content table tbody tr td,
.adoc-wrapper__content table tr td,
.adoc-wrapper__content table tfoot tr td {
  line-height: 1.6;
}
.adoc-wrapper__content h1,
.adoc-wrapper__content h2,
.adoc-wrapper__content h3,
.adoc-wrapper__content #toctitle,
.adoc-wrapper__content .sidebarblock > .content > .title,
.adoc-wrapper__content h4,
.adoc-wrapper__content h5,
.adoc-wrapper__content h6 {
  line-height: 1.2;
  word-spacing: -0.05em;
}
.adoc-wrapper__content h1 strong,
.adoc-wrapper__content h2 strong,
.adoc-wrapper__content h3 strong,
.adoc-wrapper__content #toctitle strong,
.adoc-wrapper__content .sidebarblock > .content > .title strong,
.adoc-wrapper__content h4 strong,
.adoc-wrapper__content h5 strong,
.adoc-wrapper__content h6 strong {
  font-weight: 400;
}
.adoc-wrapper__content .center {
  margin-left: auto;
  margin-right: auto;
}
.adoc-wrapper__content .stretch {
  width: 100%;
}
.adoc-wrapper__content .clearfix::before,
.adoc-wrapper__content .clearfix::after,
.adoc-wrapper__content .float-group::before,
.adoc-wrapper__content .float-group::after {
  content: ' ';
  display: table;
}
.adoc-wrapper__content .clearfix::after,
.adoc-wrapper__content .float-group::after {
  clear: both;
}
.adoc-wrapper__content :not(pre).nobreak {
  word-wrap: normal;
}
.adoc-wrapper__content :not(pre).nowrap {
  white-space: nowrap;
}
.adoc-wrapper__content :not(pre).pre-wrap {
  white-space: pre-wrap;
}
.adoc-wrapper__content :not(pre):not([class^='L']) > code {
  font-size: 0.9375em;
  font-style: normal !important;
  letter-spacing: 0;
  padding: 0.1em 0.5ex;
  word-spacing: -0.15em;
  background: #f7f7f8;
  border-radius: 4px;
  line-height: 1.45;
  text-rendering: optimizeSpeed;
}
.adoc-wrapper__content pre {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  line-height: 1.45;
  text-rendering: optimizeSpeed;
}
.adoc-wrapper__content pre code,
.adoc-wrapper__content pre pre {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.adoc-wrapper__content pre > code {
  display: block;
}
.adoc-wrapper__content pre.nowrap,
.adoc-wrapper__content pre.nowrap pre {
  white-space: pre;
  word-wrap: normal;
}
.adoc-wrapper__content em em {
  font-style: normal;
}
.adoc-wrapper__content strong strong {
  font-weight: 400;
}
.adoc-wrapper__content .keyseq {
  color: rgba(51, 51, 51, 0.8);
}
.adoc-wrapper__content kbd {
  font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.65em;
  line-height: 1.45;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 0.1em #fff;
  margin: 0 0.15em;
  padding: 0.2em 0.5em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  white-space: nowrap;
}
.adoc-wrapper__content .keyseq kbd:first-child {
  margin-left: 0;
}
.adoc-wrapper__content .keyseq kbd:last-child {
  margin-right: 0;
}
.adoc-wrapper__content .menuseq,
.adoc-wrapper__content .menuref {
  color: #000;
}
.adoc-wrapper__content .menuseq b:not(.caret),
.adoc-wrapper__content .menuref {
  font-weight: inherit;
}
.adoc-wrapper__content .menuseq {
  word-spacing: -0.02em;
}
.adoc-wrapper__content .menuseq b.caret {
  font-size: 1.25em;
  line-height: 0.8;
}
.adoc-wrapper__content .menuseq i.caret {
  font-weight: bold;
  text-align: center;
  width: 0.45em;
}
.adoc-wrapper__content b.button::before,
.adoc-wrapper__content b.button::after {
  position: relative;
  top: -1px;
  font-weight: 400;
}
.adoc-wrapper__content b.button::before {
  content: '[';
  padding: 0 3px 0 2px;
}
.adoc-wrapper__content b.button::after {
  content: ']';
  padding: 0 2px 0 3px;
}
.adoc-wrapper__content p a > code:hover {
  color: rgba(0, 0, 0, 0.9);
}
.adoc-wrapper__content #header,
.adoc-wrapper__content #content,
.adoc-wrapper__content #footnotes,
.adoc-wrapper__content #footer {
  width: 100%;
  margin: 0 auto;
  max-width: 62.5em;
  *zoom: 1;
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
.adoc-wrapper__content #header::before,
.adoc-wrapper__content #header::after,
.adoc-wrapper__content #content::before,
.adoc-wrapper__content #content::after,
.adoc-wrapper__content #footnotes::before,
.adoc-wrapper__content #footnotes::after,
.adoc-wrapper__content #footer::before,
.adoc-wrapper__content #footer::after {
  content: ' ';
  display: table;
}
.adoc-wrapper__content #header::after,
.adoc-wrapper__content #content::after,
.adoc-wrapper__content #footnotes::after,
.adoc-wrapper__content #footer::after {
  clear: both;
}
.adoc-wrapper__content #content {
  margin-top: 1.25em;
}
.adoc-wrapper__content #content::before {
  content: none;
}
.adoc-wrapper__content #header > h1:first-child {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2.25rem;
  margin-bottom: 0;
}
.adoc-wrapper__content #header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 1px solid #dddddf;
}
.adoc-wrapper__content #header > h1:only-child,
.adoc-wrapper__content body.toc2 #header > h1:nth-last-child(2) {
  border-bottom: 1px solid #dddddf;
  padding-bottom: 8px;
}
.adoc-wrapper__content #header .details {
  border-bottom: 1px solid #dddddf;
  line-height: 1.45;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: row wrap;
}
.adoc-wrapper__content #header .details span:first-child {
  margin-left: -0.125em;
}
.adoc-wrapper__content #header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}
.adoc-wrapper__content #header .details br {
  display: none;
}
.adoc-wrapper__content #header .details br + span::before {
  content: ' – ';
}
.adoc-wrapper__content #header .details br + span.author::before {
  content: ' ⋅ ';
  color: rgba(0, 0, 0, 0.85);
}
.adoc-wrapper__content #header .details br + span#revremark::before {
  content: ' | ';
}
.adoc-wrapper__content #header #revnumber {
  text-transform: capitalize;
}
.adoc-wrapper__content #header #revnumber::after {
  content: ' ';
}
.adoc-wrapper__content #content > h1:first-child:not([class]) {
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #dddddf;
  padding-bottom: 8px;
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1.25rem;
}
.adoc-wrapper__content #toc {
  border-bottom: 1px solid #e7e7e9;
  padding-bottom: 0.5em;
}
.adoc-wrapper__content #toc > ul {
  margin-left: 0.125em;
}
.adoc-wrapper__content #toc ul.sectlevel0 > li > a {
  font-style: italic;
}
.adoc-wrapper__content #toc ul.sectlevel0 ul.sectlevel1 {
  margin: 0.5em 0;
}
.adoc-wrapper__content #toc ul {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  list-style-type: none;
}
.adoc-wrapper__content #toc li {
  line-height: 1.3334;
  margin-top: 0.3334em;
}
.adoc-wrapper__content #toc a {
  text-decoration: none;
}
.adoc-wrapper__content #toc a:active {
  text-decoration: underline;
}
.adoc-wrapper__content #toctitle {
  color: #7a2518;
  font-size: 1.2em;
}
@media screen and (min-width: 768px) {
  .adoc-wrapper__content #toctitle {
    font-size: 1.375em;
  }
  .adoc-wrapper__content body.toc2 {
    padding-left: 15em;
    padding-right: 0;
  }
  .adoc-wrapper__content #toc.toc2 {
    margin-top: 0 !important;
    background: #f8f8f7;
    position: fixed;
    width: 15em;
    left: 0;
    top: 0;
    border-right: 1px solid #e7e7e9;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    z-index: 1000;
    padding: 1.25em 1em;
    height: 100%;
    overflow: auto;
  }
  .adoc-wrapper__content #toc.toc2 #toctitle {
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-size: 1.2em;
  }
  .adoc-wrapper__content #toc.toc2 > ul {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .adoc-wrapper__content #toc.toc2 ul ul {
    margin-left: 0;
    padding-left: 1em;
  }
  .adoc-wrapper__content #toc.toc2 ul.sectlevel0 ul.sectlevel1 {
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .adoc-wrapper__content body.toc2.toc-right {
    padding-left: 0;
    padding-right: 15em;
  }
  .adoc-wrapper__content body.toc2.toc-right #toc.toc2 {
    border-right-width: 0;
    border-left: 1px solid #e7e7e9;
    left: auto;
    right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .adoc-wrapper__content body.toc2 {
    padding-left: 20em;
    padding-right: 0;
  }
  .adoc-wrapper__content #toc.toc2 {
    width: 20em;
  }
  .adoc-wrapper__content #toc.toc2 #toctitle {
    font-size: 1.375em;
  }
  .adoc-wrapper__content #toc.toc2 > ul {
    font-size: 0.95em;
  }
  .adoc-wrapper__content #toc.toc2 ul ul {
    padding-left: 1.25em;
  }
  .adoc-wrapper__content body.toc2.toc-right {
    padding-left: 0;
    padding-right: 20em;
  }
}
.adoc-wrapper__content #content #toc {
  border: 1px solid #e0e0dc;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f8f8f7;
  border-radius: 4px;
}
.adoc-wrapper__content #content #toc > :first-child {
  margin-top: 0;
}
.adoc-wrapper__content #content #toc > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content #footer {
  max-width: none;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.25em;
}
.adoc-wrapper__content #footer-text {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.44;
}
.adoc-wrapper__content #content {
  margin-bottom: 0.625em;
}
.adoc-wrapper__content .sect1 {
  padding-bottom: 0.625em;
}
@media screen and (min-width: 768px) {
  .adoc-wrapper__content #content {
    margin-bottom: 1.25em;
  }
  .adoc-wrapper__content .sect1 {
    padding-bottom: 1.25em;
  }
}
.adoc-wrapper__content .sect1:last-child {
  padding-bottom: 0;
}
.adoc-wrapper__content .sect1 + .sect1 {
  border-top: 1px solid #e7e7e9;
}
.adoc-wrapper__content #content h1 > a.anchor,
.adoc-wrapper__content h2 > a.anchor,
.adoc-wrapper__content h3 > a.anchor,
.adoc-wrapper__content #toctitle > a.anchor,
.adoc-wrapper__content .sidebarblock > .content > .title > a.anchor,
.adoc-wrapper__content h4 > a.anchor,
.adoc-wrapper__content h5 > a.anchor,
.adoc-wrapper__content h6 > a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: 400;
}
.adoc-wrapper__content #content h1 > a.anchor::before,
.adoc-wrapper__content h2 > a.anchor::before,
.adoc-wrapper__content h3 > a.anchor::before,
.adoc-wrapper__content #toctitle > a.anchor::before,
.adoc-wrapper__content .sidebarblock > .content > .title > a.anchor::before,
.adoc-wrapper__content h4 > a.anchor::before,
.adoc-wrapper__content h5 > a.anchor::before,
.adoc-wrapper__content h6 > a.anchor::before {
  content: '§';
  font-size: 0.85em;
  display: block;
  padding-top: 0.1em;
}
.adoc-wrapper__content #content h1:hover > a.anchor,
.adoc-wrapper__content #content h1 > a.anchor:hover,
.adoc-wrapper__content h2:hover > a.anchor,
.adoc-wrapper__content h2 > a.anchor:hover,
.adoc-wrapper__content h3:hover > a.anchor,
.adoc-wrapper__content #toctitle:hover > a.anchor,
.adoc-wrapper__content .sidebarblock > .content > .title:hover > a.anchor,
.adoc-wrapper__content h3 > a.anchor:hover,
.adoc-wrapper__content #toctitle > a.anchor:hover,
.adoc-wrapper__content .sidebarblock > .content > .title > a.anchor:hover,
.adoc-wrapper__content h4:hover > a.anchor,
.adoc-wrapper__content h4 > a.anchor:hover,
.adoc-wrapper__content h5:hover > a.anchor,
.adoc-wrapper__content h5 > a.anchor:hover,
.adoc-wrapper__content h6:hover > a.anchor,
.adoc-wrapper__content h6 > a.anchor:hover {
  visibility: visible;
}
.adoc-wrapper__content #content h1 > a.link,
.adoc-wrapper__content h2 > a.link,
.adoc-wrapper__content h3 > a.link,
.adoc-wrapper__content #toctitle > a.link,
.adoc-wrapper__content .sidebarblock > .content > .title > a.link,
.adoc-wrapper__content h4 > a.link,
.adoc-wrapper__content h5 > a.link,
.adoc-wrapper__content h6 > a.link {
  color: #c9190b;
  text-decoration: none;
}
.adoc-wrapper__content #content h1 > a.link:hover,
.adoc-wrapper__content h2 > a.link:hover,
.adoc-wrapper__content h3 > a.link:hover,
.adoc-wrapper__content #toctitle > a.link:hover,
.adoc-wrapper__content .sidebarblock > .content > .title > a.link:hover,
.adoc-wrapper__content h4 > a.link:hover,
.adoc-wrapper__content h5 > a.link:hover,
.adoc-wrapper__content h6 > a.link:hover {
  color: #c9190b;
}
.adoc-wrapper__content details,
.adoc-wrapper__content .audioblock,
.adoc-wrapper__content .imageblock,
.adoc-wrapper__content .literalblock,
.adoc-wrapper__content .listingblock,
.adoc-wrapper__content .stemblock,
.adoc-wrapper__content .videoblock {
  margin-bottom: 1.25em;
}
.adoc-wrapper__content details {
  margin-left: 1.25rem;
}
.adoc-wrapper__content details > summary {
  cursor: pointer;
  display: block;
  position: relative;
  line-height: 1.6;
  margin-bottom: 0.625rem;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.adoc-wrapper__content details > summary::-webkit-details-marker {
  display: none;
}
.adoc-wrapper__content details > summary::before {
  content: '';
  border: solid transparent;
  border-left: solid;
  border-width: 0.3em 0 0.3em 0.5em;
  position: absolute;
  top: 0.5em;
  left: -1.25rem;
  transform: translateX(15%);
}
.adoc-wrapper__content details[open] > summary::before {
  border: solid transparent;
  border-top: solid;
  border-width: 0.5em 0.3em 0;
  transform: translateY(15%);
}
.adoc-wrapper__content details > summary::after {
  content: '';
  width: 1.25rem;
  height: 1em;
  position: absolute;
  top: 0.3em;
  left: -1.25rem;
}
.adoc-wrapper__content .admonitionblock td.content > .title,
.adoc-wrapper__content .audioblock > .title,
.adoc-wrapper__content .exampleblock > .title,
.adoc-wrapper__content .imageblock > .title,
.adoc-wrapper__content .listingblock > .title,
.adoc-wrapper__content .literalblock > .title,
.adoc-wrapper__content .stemblock > .title,
.adoc-wrapper__content .openblock > .title,
.adoc-wrapper__content .paragraph > .title,
.adoc-wrapper__content .quoteblock > .title,
.adoc-wrapper__content table.tableblock > .title,
.adoc-wrapper__content .verseblock > .title,
.adoc-wrapper__content .videoblock > .title,
.adoc-wrapper__content .dlist > .title,
.adoc-wrapper__content .olist > .title,
.adoc-wrapper__content .ulist > .title,
.adoc-wrapper__content .qlist > .title,
.adoc-wrapper__content .hdlist > .title {
  text-rendering: optimizeLegibility;
  text-align: left;
  font-family: 'Noto Serif', 'DejaVu Serif', serif;
  font-size: 1rem;
  font-style: italic;
}
.adoc-wrapper__content table.tableblock.fit-content > caption.title {
  white-space: nowrap;
  width: 0;
}
.adoc-wrapper__content .paragraph.lead > p,
.adoc-wrapper__content #preamble > .sectionbody > [class='paragraph']:first-of-type p {
  font-size: 1.21875em;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
}
.adoc-wrapper__content .admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
}
.adoc-wrapper__content .admonitionblock > table td.icon {
  text-align: center;
  width: 80px;
}
.adoc-wrapper__content .admonitionblock > table td.icon img {
  max-width: none;
}
.adoc-wrapper__content .admonitionblock > table td.icon .title {
  font-weight: bold;
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  text-transform: uppercase;
}
.adoc-wrapper__content .admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #dddddf;
  color: rgba(0, 0, 0, 0.6);
  word-wrap: anywhere;
}
.adoc-wrapper__content .admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content .exampleblock > .content {
  border: 1px solid #e6e6e6;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #fff;
  border-radius: 4px;
}
.adoc-wrapper__content .exampleblock > .content > :first-child {
  margin-top: 0;
}
.adoc-wrapper__content .exampleblock > .content > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content .sidebarblock {
  border: 1px solid #dbdbd6;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f3f3f2;
  border-radius: 4px;
}
.adoc-wrapper__content .sidebarblock > :first-child {
  margin-top: 0;
}
.adoc-wrapper__content .sidebarblock > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content .sidebarblock > .content > .title {
  color: #777;
  margin-top: 0;
  text-align: center;
}
.adoc-wrapper__content .exampleblock > .content > :last-child > :last-child,
.adoc-wrapper__content .exampleblock > .content .olist > ol > li:last-child > :last-child,
.adoc-wrapper__content .exampleblock > .content .ulist > ul > li:last-child > :last-child,
.adoc-wrapper__content .exampleblock > .content .qlist > ol > li:last-child > :last-child,
.adoc-wrapper__content .sidebarblock > .content > :last-child > :last-child,
.adoc-wrapper__content .sidebarblock > .content .olist > ol > li:last-child > :last-child,
.adoc-wrapper__content .sidebarblock > .content .ulist > ul > li:last-child > :last-child,
.adoc-wrapper__content .sidebarblock > .content .qlist > ol > li:last-child > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content .literalblock pre,
.adoc-wrapper__content .listingblock > .content > pre {
  border-radius: 4px;
  overflow-x: auto;
  padding: 1em;
  font-size: 0.8125em;
}
@media screen and (min-width: 768px) {
  .adoc-wrapper__content .literalblock pre,
  .adoc-wrapper__content .listingblock > .content > pre {
    font-size: 0.90625em;
  }
}
@media screen and (min-width: 1280px) {
  .adoc-wrapper__content .literalblock pre,
  .adoc-wrapper__content .listingblock > .content > pre {
    font-size: 1em;
  }
}
.adoc-wrapper__content .literalblock pre,
.adoc-wrapper__content .listingblock > .content > pre:not(.highlight),
.adoc-wrapper__content .listingblock > .content > pre[class='highlight'],
.adoc-wrapper__content .listingblock > .content > pre[class^='highlight '] {
  background: #f7f7f8;
}
.adoc-wrapper__content .literalblock.output pre {
  color: #f7f7f8;
  background: rgba(0, 0, 0, 0.9);
}
.adoc-wrapper__content .listingblock > .content {
  position: relative;
}
.adoc-wrapper__content .listingblock code[data-lang]::before {
  display: none;
  content: attr(data-lang);
  position: absolute;
  font-size: 0.75em;
  top: 0.425rem;
  right: 0.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
}
.adoc-wrapper__content .listingblock:hover code[data-lang]::before {
  display: block;
}
.adoc-wrapper__content .listingblock.terminal pre .command::before {
  content: attr(data-prompt);
  padding-right: 0.5em;
  color: inherit;
  opacity: 0.5;
}
.adoc-wrapper__content .listingblock.terminal pre .command:not([data-prompt])::before {
  content: '$';
}
.adoc-wrapper__content .listingblock pre.highlightjs {
  padding: 0;
}
.adoc-wrapper__content .listingblock pre.highlightjs > code {
  padding: 1em;
  border-radius: 4px;
}
.adoc-wrapper__content .listingblock pre.prettyprint {
  border-width: 0;
}
.adoc-wrapper__content .prettyprint {
  background: #f7f7f8;
}
.adoc-wrapper__content pre.prettyprint .linenums {
  line-height: 1.45;
  margin-left: 2em;
}
.adoc-wrapper__content pre.prettyprint li {
  background: none;
  list-style-type: inherit;
  padding-left: 0;
}
.adoc-wrapper__content pre.prettyprint li code[data-lang]::before {
  opacity: 1;
}
.adoc-wrapper__content pre.prettyprint li:not(:first-child) code[data-lang]::before {
  display: none;
}
.adoc-wrapper__content table.linenotable {
  border-collapse: separate;
  border: 0;
  margin-bottom: 0;
  background: none;
}
.adoc-wrapper__content table.linenotable td[class] {
  color: inherit;
  vertical-align: top;
  padding: 0;
  line-height: inherit;
  white-space: normal;
}
.adoc-wrapper__content table.linenotable td.code {
  padding-left: 0.75em;
}
.adoc-wrapper__content table.linenotable td.linenos,
.adoc-wrapper__content pre.pygments .linenos {
  border-right: 1px solid;
  opacity: 0.35;
  padding-right: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.adoc-wrapper__content pre.pygments span.linenos {
  display: inline-block;
  margin-right: 0.75em;
}
.adoc-wrapper__content .quoteblock {
  margin: 0 1em 1.25em 1.5em;
  display: table;
}
.adoc-wrapper__content .quoteblock:not(.excerpt) > .title {
  margin-left: -1.5em;
  margin-bottom: 0.75em;
}
.adoc-wrapper__content .quoteblock blockquote,
.adoc-wrapper__content .quoteblock p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.15rem;
  line-height: 1.75;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}
.adoc-wrapper__content .quoteblock blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
.adoc-wrapper__content .quoteblock blockquote::before {
  content: '“';
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: #7a2518;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.adoc-wrapper__content .quoteblock blockquote > .paragraph:last-child p {
  margin-bottom: 0;
}
.adoc-wrapper__content .quoteblock .attribution {
  margin-top: 0.75em;
  margin-right: 0.5ex;
  text-align: right;
}
.adoc-wrapper__content .verseblock {
  margin: 0 1em 1.25em;
}
.adoc-wrapper__content .verseblock pre {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.adoc-wrapper__content .verseblock pre strong {
  font-weight: 400;
}
.adoc-wrapper__content .verseblock .attribution {
  margin-top: 1.25rem;
  margin-left: 0.5ex;
}
.adoc-wrapper__content .quoteblock .attribution,
.adoc-wrapper__content .verseblock .attribution {
  font-size: 0.9375em;
  line-height: 1.45;
  font-style: italic;
}
.adoc-wrapper__content .quoteblock .attribution br,
.adoc-wrapper__content .verseblock .attribution br {
  display: none;
}
.adoc-wrapper__content .quoteblock .attribution cite,
.adoc-wrapper__content .verseblock .attribution cite {
  display: block;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.6);
}
.adoc-wrapper__content .quoteblock.abstract blockquote::before,
.adoc-wrapper__content .quoteblock.excerpt blockquote::before,
.adoc-wrapper__content .quoteblock .quoteblock blockquote::before {
  display: none;
}
.adoc-wrapper__content .quoteblock.abstract blockquote,
.adoc-wrapper__content .quoteblock.abstract p,
.adoc-wrapper__content .quoteblock.excerpt blockquote,
.adoc-wrapper__content .quoteblock.excerpt p,
.adoc-wrapper__content .quoteblock .quoteblock blockquote,
.adoc-wrapper__content .quoteblock .quoteblock p {
  line-height: 1.6;
  word-spacing: 0;
}
.adoc-wrapper__content .quoteblock.abstract {
  margin: 0 1em 1.25em;
  display: block;
}
.adoc-wrapper__content .quoteblock.abstract > .title {
  margin: 0 0 0.375em;
  font-size: 1.15em;
  text-align: center;
}
.adoc-wrapper__content .quoteblock.excerpt > blockquote,
.adoc-wrapper__content .quoteblock .quoteblock {
  padding: 0 0 0.25em 1em;
  border-left: 0.25em solid #dddddf;
}
.adoc-wrapper__content .quoteblock.excerpt,
.adoc-wrapper__content .quoteblock .quoteblock {
  margin-left: 0;
}
.adoc-wrapper__content .quoteblock.excerpt blockquote,
.adoc-wrapper__content .quoteblock.excerpt p,
.adoc-wrapper__content .quoteblock .quoteblock blockquote,
.adoc-wrapper__content .quoteblock .quoteblock p {
  color: inherit;
  font-size: 1.0625rem;
}
.adoc-wrapper__content .quoteblock.excerpt .attribution,
.adoc-wrapper__content .quoteblock .quoteblock .attribution {
  color: inherit;
  font-size: 0.85rem;
  text-align: left;
  margin-right: 0;
}
.adoc-wrapper__content p.tableblock:last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content td.tableblock > .content {
  margin-bottom: 1.25em;
  word-wrap: anywhere;
}
.adoc-wrapper__content td.tableblock > .content > :last-child {
  margin-bottom: -1.25em;
}
.adoc-wrapper__content table.tableblock,
.adoc-wrapper__content th.tableblock,
.adoc-wrapper__content td.tableblock {
  border: 0 solid #dedede;
}
.adoc-wrapper__content table.grid-all > * > tr > * {
  border-width: 1px;
}
.adoc-wrapper__content table.grid-cols > * > tr > * {
  border-width: 0 1px;
}
.adoc-wrapper__content table.grid-rows > * > tr > * {
  border-width: 1px 0;
}
.adoc-wrapper__content table.frame-all {
  border-width: 1px;
}
.adoc-wrapper__content table.frame-ends {
  border-width: 1px 0;
}
.adoc-wrapper__content table.frame-sides {
  border-width: 0 1px;
}
.adoc-wrapper__content table.frame-none > colgroup + * > :first-child > *,
.adoc-wrapper__content table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}
.adoc-wrapper__content table.frame-none > :last-child > :last-child > *,
.adoc-wrapper__content table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}
.adoc-wrapper__content table.frame-none > * > tr > :first-child,
.adoc-wrapper__content table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}
.adoc-wrapper__content table.frame-none > * > tr > :last-child,
.adoc-wrapper__content table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}
.adoc-wrapper__content table.stripes-all > * > tr,
.adoc-wrapper__content table.stripes-odd > * > tr:nth-of-type(odd),
.adoc-wrapper__content table.stripes-even > * > tr:nth-of-type(even),
.adoc-wrapper__content table.stripes-hover > * > tr:hover {
  background: #f8f8f7;
}
.adoc-wrapper__content th.halign-left,
.adoc-wrapper__content td.halign-left {
  text-align: left;
}
.adoc-wrapper__content th.halign-right,
.adoc-wrapper__content td.halign-right {
  text-align: right;
}
.adoc-wrapper__content th.halign-center,
.adoc-wrapper__content td.halign-center {
  text-align: center;
}
.adoc-wrapper__content th.valign-top,
.adoc-wrapper__content td.valign-top {
  vertical-align: top;
}
.adoc-wrapper__content th.valign-bottom,
.adoc-wrapper__content td.valign-bottom {
  vertical-align: bottom;
}
.adoc-wrapper__content th.valign-middle,
.adoc-wrapper__content td.valign-middle {
  vertical-align: middle;
}
.adoc-wrapper__content table thead th,
.adoc-wrapper__content table tfoot th {
  font-weight: bold;
}
.adoc-wrapper__content tbody tr th {
  background: #f7f8f7;
}
.adoc-wrapper__content tbody tr th,
.adoc-wrapper__content tbody tr th p,
.adoc-wrapper__content tfoot tr th,
.adoc-wrapper__content tfoot tr th p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.adoc-wrapper__content p.tableblock > code:only-child {
  background: none;
  padding: 0;
}
.adoc-wrapper__content p.tableblock {
  font-size: 1em;
}
.adoc-wrapper__content ol {
  margin-left: 1.75em;
}
.adoc-wrapper__content ul li ol {
  margin-left: 1.5em;
}
.adoc-wrapper__content dl dd {
  margin-left: 1.125em;
}
.adoc-wrapper__content dl dd:last-child,
.adoc-wrapper__content dl dd:last-child > :last-child {
  margin-bottom: 0;
}
.adoc-wrapper__content li p,
.adoc-wrapper__content ul dd,
.adoc-wrapper__content ol dd,
.adoc-wrapper__content .olist .olist,
.adoc-wrapper__content .ulist .ulist,
.adoc-wrapper__content .ulist .olist,
.adoc-wrapper__content .olist .ulist {
  margin-bottom: 0.625em;
}
.adoc-wrapper__content ul.checklist,
.adoc-wrapper__content ul.none,
.adoc-wrapper__content ol.none,
.adoc-wrapper__content ul.no-bullet,
.adoc-wrapper__content ol.no-bullet,
.adoc-wrapper__content ol.unnumbered,
.adoc-wrapper__content ul.unstyled,
.adoc-wrapper__content ol.unstyled {
  list-style-type: none;
}
.adoc-wrapper__content ul.no-bullet,
.adoc-wrapper__content ol.no-bullet,
.adoc-wrapper__content ol.unnumbered {
  margin-left: 0.625em;
}
.adoc-wrapper__content ul.unstyled,
.adoc-wrapper__content ol.unstyled {
  margin-left: 0;
}
.adoc-wrapper__content li > p:empty:only-child::before {
  content: '';
  display: inline-block;
}
.adoc-wrapper__content ul.checklist > li > p:first-child {
  margin-left: -1em;
}
.adoc-wrapper__content ul.checklist > li > p:first-child > .fa-square-o:first-child,
.adoc-wrapper__content ul.checklist > li > p:first-child > .fa-check-square-o:first-child {
  width: 1.25em;
  font-size: 0.8em;
  position: relative;
  bottom: 0.125em;
}
.adoc-wrapper__content ul.checklist > li > p:first-child > input[type='checkbox']:first-child {
  margin-right: 0.25em;
}
.adoc-wrapper__content ul.inline {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 0 0.625em -1.25em;
}
.adoc-wrapper__content ul.inline > li {
  margin-left: 1.25em;
}
.adoc-wrapper__content .unstyled dl dt {
  font-weight: 400;
  font-style: normal;
}
.adoc-wrapper__content ol.arabic {
  list-style-type: decimal;
}
.adoc-wrapper__content ol.decimal {
  list-style-type: decimal-leading-zero;
}
.adoc-wrapper__content ol.loweralpha {
  list-style-type: lower-alpha;
}
.adoc-wrapper__content ol.upperalpha {
  list-style-type: upper-alpha;
}
.adoc-wrapper__content ol.lowerroman {
  list-style-type: lower-roman;
}
.adoc-wrapper__content ol.upperroman {
  list-style-type: upper-roman;
}
.adoc-wrapper__content ol.lowergreek {
  list-style-type: lower-greek;
}
.adoc-wrapper__content .hdlist > table,
.adoc-wrapper__content .colist > table {
  border: 0;
  background: none;
}
.adoc-wrapper__content .hdlist > table > tbody > tr,
.adoc-wrapper__content .colist > table > tbody > tr {
  background: none;
}
.adoc-wrapper__content td.hdlist1,
.adoc-wrapper__content td.hdlist2 {
  vertical-align: top;
  padding: 0 0.625em;
}
.adoc-wrapper__content td.hdlist1 {
  font-weight: bold;
  padding-bottom: 1.25em;
}
.adoc-wrapper__content td.hdlist2 {
  word-wrap: anywhere;
}
.adoc-wrapper__content .literalblock + .colist,
.adoc-wrapper__content .listingblock + .colist {
  margin-top: -0.5em;
}
.adoc-wrapper__content .colist td:not([class]):first-child {
  padding: 0.4em 0.75em 0;
  line-height: 1;
  vertical-align: top;
}
.adoc-wrapper__content .colist td:not([class]):first-child img {
  max-width: none;
}
.adoc-wrapper__content .colist td:not([class]):last-child {
  padding: 0.25em 0;
}
.adoc-wrapper__content .thumb,
.adoc-wrapper__content .th {
  line-height: 0;
  display: inline-block;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #ddd;
}
.adoc-wrapper__content .imageblock.left {
  margin: 0.25em 0.625em 1.25em 0;
}
.adoc-wrapper__content .imageblock.right {
  margin: 0.25em 0 1.25em 0.625em;
}
.adoc-wrapper__content .imageblock > .title {
  margin-bottom: 0;
}
.adoc-wrapper__content .imageblock.thumb,
.adoc-wrapper__content .imageblock.th {
  border-width: 6px;
}
.adoc-wrapper__content .imageblock.thumb > .title,
.adoc-wrapper__content .imageblock.th > .title {
  padding: 0 0.125em;
}
.adoc-wrapper__content .image.left,
.adoc-wrapper__content .image.right {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: inline-block;
  line-height: 0;
}
.adoc-wrapper__content .image.left {
  margin-right: 0.625em;
}
.adoc-wrapper__content .image.right {
  margin-left: 0.625em;
}
.adoc-wrapper__content a.image {
  text-decoration: none;
  display: inline-block;
}
.adoc-wrapper__content a.image object {
  pointer-events: none;
}
.adoc-wrapper__content sup.footnote,
.adoc-wrapper__content sup.footnoteref {
  font-size: 0.875em;
  position: static;
  vertical-align: super;
}
.adoc-wrapper__content sup.footnote a,
.adoc-wrapper__content sup.footnoteref a {
  text-decoration: none;
}
.adoc-wrapper__content sup.footnote a:active,
.adoc-wrapper__content sup.footnoteref a:active {
  text-decoration: underline;
}
.adoc-wrapper__content #footnotes {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0.625em;
}
.adoc-wrapper__content #footnotes hr {
  width: 20%;
  min-width: 6.25em;
  margin: -0.25em 0 0.75em;
  border-width: 1px 0 0;
}
.adoc-wrapper__content #footnotes .footnote {
  padding: 0 0.375em 0 0.225em;
  line-height: 1.3334;
  font-size: 0.875em;
  margin-left: 1.2em;
  margin-bottom: 0.2em;
}
.adoc-wrapper__content #footnotes .footnote a:first-of-type {
  font-weight: bold;
  text-decoration: none;
  margin-left: -1.05em;
}
.adoc-wrapper__content #footnotes .footnote:last-of-type {
  margin-bottom: 0;
}
.adoc-wrapper__content #content #footnotes {
  margin-top: -0.625em;
  margin-bottom: 0;
  padding: 0.75em 0;
}
.adoc-wrapper__content div.unbreakable {
  page-break-inside: avoid;
}
.adoc-wrapper__content .big {
  font-size: larger;
}
.adoc-wrapper__content .small {
  font-size: smaller;
}
.adoc-wrapper__content .underline {
  text-decoration: underline;
}
.adoc-wrapper__content .overline {
  text-decoration: overline;
}
.adoc-wrapper__content .line-through {
  text-decoration: line-through;
}
.adoc-wrapper__content .aqua {
  color: #00bfbf;
}
.adoc-wrapper__content .aqua-background {
  background: #00fafa;
}
.adoc-wrapper__content .black {
  color: #000;
}
.adoc-wrapper__content .black-background {
  background: #000;
}
.adoc-wrapper__content .blue {
  color: #0000bf;
}
.adoc-wrapper__content .blue-background {
  background: #0000fa;
}
.adoc-wrapper__content .fuchsia {
  color: #bf00bf;
}
.adoc-wrapper__content .fuchsia-background {
  background: #fa00fa;
}
.adoc-wrapper__content .gray {
  color: #606060;
}
.adoc-wrapper__content .gray-background {
  background: #7d7d7d;
}
.adoc-wrapper__content .green {
  color: #006000;
}
.adoc-wrapper__content .green-background {
  background: #007d00;
}
.adoc-wrapper__content .lime {
  color: #00bf00;
}
.adoc-wrapper__content .lime-background {
  background: #00fa00;
}
.adoc-wrapper__content .maroon {
  color: #600000;
}
.adoc-wrapper__content .maroon-background {
  background: #7d0000;
}
.adoc-wrapper__content .navy {
  color: #000060;
}
.adoc-wrapper__content .navy-background {
  background: #00007d;
}
.adoc-wrapper__content .olive {
  color: #606000;
}
.adoc-wrapper__content .olive-background {
  background: #7d7d00;
}
.adoc-wrapper__content .purple {
  color: #600060;
}
.adoc-wrapper__content .purple-background {
  background: #7d007d;
}
.adoc-wrapper__content .red {
  color: #bf0000;
}
.adoc-wrapper__content .red-background {
  background: #fa0000;
}
.adoc-wrapper__content .silver {
  color: #909090;
}
.adoc-wrapper__content .silver-background {
  background: #bcbcbc;
}
.adoc-wrapper__content .teal {
  color: #006060;
}
.adoc-wrapper__content .teal-background {
  background: #007d7d;
}
.adoc-wrapper__content .white {
  color: #bfbfbf;
}
.adoc-wrapper__content .white-background {
  background: #fafafa;
}
.adoc-wrapper__content .yellow {
  color: #bfbf00;
}
.adoc-wrapper__content .yellow-background {
  background: #fafa00;
}
.adoc-wrapper__content span.icon > .fa {
  cursor: default;
}
.adoc-wrapper__content a span.icon > .fa {
  cursor: inherit;
}
.adoc-wrapper__content .admonitionblock td.icon [class^='fa icon-'] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}
.adoc-wrapper__content .admonitionblock td.icon .icon-note::before {
  content: '';
  color: #19407c;
}
.adoc-wrapper__content .admonitionblock td.icon .icon-tip::before {
  content: '';
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
}
.adoc-wrapper__content .admonitionblock td.icon .icon-warning::before {
  content: '';
  color: #bf6900;
}
.adoc-wrapper__content .admonitionblock td.icon .icon-caution::before {
  content: '';
  color: #bf3400;
}
.adoc-wrapper__content .admonitionblock td.icon .icon-important::before {
  content: '';
  color: #bf0000;
}
.adoc-wrapper__content .conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.adoc-wrapper__content .conum[data-value] * {
  color: #fff !important;
}
.adoc-wrapper__content .conum[data-value] + b {
  display: none;
}
.adoc-wrapper__content .conum[data-value]::after {
  content: attr(data-value);
}
.adoc-wrapper__content pre .conum[data-value] {
  position: relative;
  top: -0.125em;
}
.adoc-wrapper__content b.conum * {
  color: inherit !important;
}
.adoc-wrapper__content .conum:not([data-value]):empty {
  display: none;
}
.adoc-wrapper__content dt,
.adoc-wrapper__content th.tableblock,
.adoc-wrapper__content td.content,
.adoc-wrapper__content div.footnote {
  text-rendering: optimizeLegibility;
}
.adoc-wrapper__content h1,
.adoc-wrapper__content h2,
.adoc-wrapper__content p,
.adoc-wrapper__content td.content,
.adoc-wrapper__content span.alt,
.adoc-wrapper__content summary {
  letter-spacing: -0.01em;
}
.adoc-wrapper__content p strong,
.adoc-wrapper__content td.content strong,
.adoc-wrapper__content div.footnote strong {
  letter-spacing: -0.005em;
}
.adoc-wrapper__content p,
.adoc-wrapper__content blockquote,
.adoc-wrapper__content dt,
.adoc-wrapper__content td.content,
.adoc-wrapper__content span.alt,
.adoc-wrapper__content summary {
  font-size: 1.0625rem;
}
.adoc-wrapper__content .sidebarblock p,
.adoc-wrapper__content .sidebarblock dt,
.adoc-wrapper__content .sidebarblock td.content,
.adoc-wrapper__content p.tableblock {
  font-size: 1em;
}
.adoc-wrapper__content .exampleblock > .content {
  background: #fffef7;
  border-color: #e0e0dc;
  box-shadow: 0 1px 4px #e0e0dc;
}
.adoc-wrapper__content .print-only {
  display: none !important;
}
@page {
  .adoc-wrapper__content {
    margin: 1.25cm 0.75cm;
  }
}
@media print {
  .adoc-wrapper__content * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .adoc-wrapper__content html {
    font-size: 80%;
  }
  .adoc-wrapper__content a {
    color: inherit !important;
    text-decoration: underline !important;
  }
  .adoc-wrapper__content a.bare,
  .adoc-wrapper__content a[href^='#'],
  .adoc-wrapper__content a[href^='mailto:'] {
    text-decoration: none !important;
  }
  .adoc-wrapper__content a[href^='http:']:not(.bare)::after,
  .adoc-wrapper__content a[href^='https:']:not(.bare)::after {
    content: '(' attr(href) ')';
    display: inline-block;
    font-size: 0.875em;
    padding-left: 0.25em;
  }
  .adoc-wrapper__content abbr[title] {
    border-bottom: 1px dotted;
  }
  .adoc-wrapper__content abbr[title]::after {
    content: ' (' attr(title) ')';
  }
  .adoc-wrapper__content pre,
  .adoc-wrapper__content blockquote,
  .adoc-wrapper__content tr,
  .adoc-wrapper__content img,
  .adoc-wrapper__content object,
  .adoc-wrapper__content svg {
    page-break-inside: avoid;
  }
  .adoc-wrapper__content thead {
    display: table-header-group;
  }
  .adoc-wrapper__content svg {
    max-width: 100%;
  }
  .adoc-wrapper__content p,
  .adoc-wrapper__content blockquote,
  .adoc-wrapper__content dt,
  .adoc-wrapper__content td.content {
    font-size: 1em;
    orphans: 3;
    widows: 3;
  }
  .adoc-wrapper__content h2,
  .adoc-wrapper__content h3,
  .adoc-wrapper__content #toctitle,
  .adoc-wrapper__content .sidebarblock > .content > .title {
    page-break-after: avoid;
  }
  .adoc-wrapper__content #header,
  .adoc-wrapper__content #content,
  .adoc-wrapper__content #footnotes,
  .adoc-wrapper__content #footer {
    max-width: none;
  }
  .adoc-wrapper__content #toc,
  .adoc-wrapper__content .sidebarblock,
  .adoc-wrapper__content .exampleblock > .content {
    background: none !important;
  }
  .adoc-wrapper__content #toc {
    border-bottom: 1px solid #dddddf !important;
    padding-bottom: 0 !important;
  }
  .adoc-wrapper__content body.book #header {
    text-align: center;
  }
  .adoc-wrapper__content body.book #header > h1:first-child {
    border: 0 !important;
    margin: 2.5em 0 1em;
  }
  .adoc-wrapper__content body.book #header .details {
    border: 0 !important;
    display: block;
    padding: 0 !important;
  }
  .adoc-wrapper__content body.book #header .details span:first-child {
    margin-left: 0 !important;
  }
  .adoc-wrapper__content body.book #header .details br {
    display: block;
  }
  .adoc-wrapper__content body.book #header .details br + span::before {
    content: none !important;
  }
  .adoc-wrapper__content body.book #toc {
    border: 0 !important;
    text-align: left !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .adoc-wrapper__content body.book #toc,
  .adoc-wrapper__content body.book #preamble,
  .adoc-wrapper__content body.book h1.sect0,
  .adoc-wrapper__content body.book .sect1 > h2 {
    page-break-before: always;
  }
  .adoc-wrapper__content .listingblock code[data-lang]::before {
    display: block;
  }
  .adoc-wrapper__content #footer {
    padding: 0 0.9375em;
  }
  .adoc-wrapper__content .hide-on-print {
    display: none !important;
  }
  .adoc-wrapper__content .print-only {
    display: block !important;
  }
  .adoc-wrapper__content .hide-for-print {
    display: none !important;
  }
  .adoc-wrapper__content .show-for-print {
    display: inherit !important;
  }
}
@media amzn-kf8, print {
  .adoc-wrapper__content #header > h1:first-child {
    margin-top: 1.25rem;
  }
  .adoc-wrapper__content .sect1 {
    padding: 0 !important;
  }
  .adoc-wrapper__content .sect1 + .sect1 {
    border: 0;
  }
  .adoc-wrapper__content #footer {
    background: none;
  }
  .adoc-wrapper__content #footer-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
  }
}
@media amzn-kf8 {
  .adoc-wrapper__content #header,
  .adoc-wrapper__content #content,
  .adoc-wrapper__content #footnotes,
  .adoc-wrapper__content #footer {
    padding: 0;
  }
}
