.ansible-run-log {
  background-color: #f2f2f2;
  border-radius: 0 0 4px 4px;
  border: 1px solid #b7b7b7;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: monospace;
  font-size: 15px;
  min-height: 600px;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 5px 10px;
}

.ansible-run-log-ok {
  color: #008800;
}

.ansible-run-log-changed {
  color: #f0ad4e;
}

.ansible-run-log-skipped {
  color: #00aaaa;
}

.ansible-run-log-failed {
  color: #aa0000;
}

.ansible-run-log-play {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.ansible-run-log-play-header {
  display: block;
  text-align: left;
}
.ansible-run-log-play-start {
  display: block;
  text-align: right;
  float: right;
  font-size: 80%;
  background-color: #ffffff;
  padding: 2px;
}
.ansible-run-log-task-header {
  display: block;
  text-align: left;
  margin-top: 10px;
}
.ansible-run-log-task-start {
  display: block;
  text-align: right;
  float: right;
  font-size: 80%;
  background-color: #ffffff;
  padding: 2px;
}
.ansible-run-log-task-host-changed {
  display: block;
  text-align: left;
  color: #f0ad4e;
}
.ansible-run-log-task-host-ok {
  display: block;
  text-align: left;
  color: #008800;
}
.ansible-run-log-task-host-skipped {
  display: block;
  text-align: left;
  color: #00aaaa;
}
.ansible-run-log-task-host-failed {
  display: block;
  text-align: left;
  color: #aa0000;
}
.ansible-run-log-task-host-unknown {
  display: block;
  background-color: #333333;
  font-weight: bold;
  text-align: left;
  color: #ff0000;
}
.ansible-run-log-task-host-item-changed {
  display: block;
  text-align: left;
  color: #f0ad4e;
}
.ansible-run-log-task-host-item-ok {
  display: block;
  text-align: left;
  color: #008800;
}
.ansible-run-log-task-host-item-skipped {
  display: block;
  text-align: left;
  color: #00aaaa;
}
.ansible-run-log-task-host-item-failed {
  display: block;
  text-align: left;
  color: #aa0000;
}
.ansible-run-log-task-host-item-unknown {
  display: block;
  background-color: #333333;
  font-weight: bold;
  text-align: left;
  color: #ff0000;
}
.ansible-run-log-play-recap {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.ansible-run-log-yaml-dump {
  display: block;
  white-space: pre;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
