.date-time-picker__time-picker .pf-v6-c-dropdown__menu {
  overflow-y: auto;
  max-height: 380px;
}
.date-time-picker__text.pf-v6-c-form-control {
  font-size: var(--pf-v6-global--FontSize--sm);
}
.hide-controls {
  width: auto;
}
.hide-controls .pf-v6-c-menu-toggle__controls {
  display: none;
}