.footer-component {
  background-color: #1a1a1a;
  margin-top: auto;
}
.footer__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
}
.footer__legal {
  flex: 1 0 60%;
  line-height: 2;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: var(--pf-global--spacer--xl);
}
.footer__legal ul {
  display: flex;
  flex-direction: row;
  gap: var(--pf-global--spacer--md);
}
.footer__legal a {
  text-decoration: underline;
  color: #aaa;
}
.footer__legal a:after {
  content: '|';
  display: inline-block;
  margin-left: var(--pf-global--spacer--md);
}
.footer__legal li:last-child a:after,
.footer__legal a > a:after {
  display: none;
}
