.pf-v5-c-banner.pf-m-gold {
  background-color: #fdf7e7;
  border-top: 2px solid #f0ab00;
}
.pf-v5-c-banner.pf-m-blue {
  background-color: #e7f1fa;
  border-top: 2px solid #2b9af3;
}
.pf-v5-c-banner.pf-m-blue a,
.pf-v5-c-banner.pf-m-blue .editor-link {
  color: #151515 !important;
}
.pf-v5-c-banner.pf-m-red {
  background-color: #faeae8;
  color: #fff;
  border-top: 2px solid #c9190b;
}
.pf-v5-c-banner.pf-m-gold svg {
  fill: #f0ab00;
}
.pf-v5-c-banner.pf-m-blue svg {
  fill: #2b9af3;
}
.pf-v5-c-banner.pf-m-red svg {
  fill: #c9190b;
}
.incidents-banner__close-btn svg {
  fill: #6a6e73 !important;
}
