.pf-c-scrollablegrid .pf-c-table {
  table-layout: fixed;
}

.pf-c-table.pf-c-virtualized tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.pf-c-scrollablegrid .pf-c-table tr > * {
  height: auto;
}

.pf-c-scrollablegrid .pf-c-table tbody > tr > :first-child::before {
  content: none;
  width: 0 !important;
}

.pf-c-scrollablegrid .pf-c-table .pf-c-table__check {
  width: 42px !important;
  min-width: 42px !important;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid {
  overflow: visible !important;
}

.pf-c-window-scroller .ReactVirtualized__VirtualGrid__innerScrollContainer {
  overflow: visible !important;
}
