appdirs==1.4.4
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
decorator==5.0.9
dogpile.cache==1.1.3
Flask==1.1.2
flask-redis==0.4.0
google-auth==1.28.0
gunicorn==20.0.4
idna==2.10
iso8601==0.1.16
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
keystoneauth1==4.3.1
kubernetes==12.0.1
MarkupSafe==1.1.1
munch==2.5.0
netifaces==0.11.0
oauthlib==3.1.0
openstacksdk==0.58.0
os-service-types==1.7.0
pbr==5.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-dateutil==2.8.1
PyYAML==5.4.1
redis==4.4.4
requests==2.31.0
requests-oauthlib==1.3.0
requestsexceptions==1.4.0
retrying==1.3.3
rsa==4.7.2
six==1.15.0
stevedore==3.3.0
urllib3==1.26.18
websocket-client==0.58.0
Werkzeug==1.0.1
