---
nameOverride: ""

namespace:
  create: true
  name:

api:
  name: # default use chart name + '-api'
  gunicorn:
    processes: 5
    threads: 1
  image:
    #override:
    tag: v0.0.4
    repository: quay.io/redhat-gpte/babylon-catalog-api
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  replicaCount: 1
  resources:
    requests:
      cpu: 500m
      memory: "2Gi"
    limits:
      cpu: "2"
      memory: "2Gi"
  serviceAccount:
    name: # default use api component name

ui:
  name: # default use chart name + '-ui'
  image:
    #override:
    tag: v0.0.18
    repository: quay.io/redhat-gpte/babylon-catalog-ui
    pullPolicy: IfNotPresent
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: "256Mi"
    limits:
      cpu: "1"
      memory: "256Mi"

oauthProxy:
  name: # default use chart name + '-oauth-proxy'
  # Cookie secret should be 32 bits long
  cookieSecret: abcdefghijklmnopqrstuvwxyz012345
  image:
    #override:
    pullPolicy: Always
    repository: image-registry.openshift-image-registry.svc:5000/openshift/ose-oauth-proxy
    tag: v4.6
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: "256Mi"
    limits:
      cpu: "1"
      memory: "256Mi"

redis:
  name: # default use chart name + '-redis'
  deploy: true
  password:
  generatePassword: true
  image:
    #override:
    pullPolicy: Always
    repository: image-registry.openshift-image-registry.svc:5000/openshift/redis
    tag: 5-el8
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: "1"
      memory: 256Mi
route:
  certManager:
    enable: false
  certUtilsOperator:
    enable: false
  create: true
  host:
