.rhpds-services-item-header.pf-c-page__main-section {
  padding-top: 8pt;
  padding-bottom: 8pt;
}

.rhpds-services-item-header.pf-c-page__main-section {
  border-bottom: 1px solid var(--pf-global--palette--black-300);
}

.rhpds-services-item-body.pf-c-page__main-section {
  padding-top: 0px;
}

.rhpds-services-item-body.pf-c-page__main-section .pf-c-tabs {
  margin-left: -100px;
  padding-left: 100px;
  margin-right: -100px;
  padding-right: 100px;
  margin-bottom: 10pt;
}

.rhpds-services-item-body.pf-c-page__main-section .pf-c-description-list {
  margin-top: 5pt;
  row-gap: 5pt;
}

.rhpds-services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain {
  margin-top: calc(-1 * var(--pf-c-button--PaddingTop));
  margin-bottom: calc(-1 * var(--pf-c-button--PaddingBottom));
  margin-left: calc(-1 * var(--pf-c-button--PaddingLeft));
  margin-right: calc(-1 * var(--pf-c-button--PaddingRight));
  color: var(--pf-c-button--m-plain--focus--Color);
}

.rhpds-services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain:hover {
  text-decoration: underline;
}

.rhpds-services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain svg.edit {
  color: var(--pf-global--link--Color);
  font-size: 0.85em;
  vertical-align: 0.2em !important;
}
