.all-services-list.pf-c-page__main-section {
  padding-top: 1em;
}

.all-services-list.pf-c-page__main-section table.pf-c-table thead th {
  padding-top: 0;
  padding-bottom: 1em;
}

.all-services-list.pf-c-page__main-section table.pf-c-table thead td {
  padding-top: 0;
  padding-bottom: 1em;
}

.all-services-list.pf-c-page__main-section table.pf-c-table tbody th {
  padding-top: 1em;
  padding-bottom: 1em;
}

.all-services-list.pf-c-page__main-section table.pf-c-table tbody td {
  padding-top: 1em;
  padding-bottom: 1em;
}

.all-services-list__head.pf-c-page__main-section {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--pf-global--palette--black-300);
}

.all-services-list__head.pf-c-page__main-section .pf-c-breadcrumb__item {
  font-size: 1.2em;
  margin-top: 0.3em;
}

.all-services-list__topbar.pf-c-page__main-section {
  padding: 2pt 10pt;
  border-bottom: 1px solid var(--pf-global--palette--black-300);
}

.all-services-list__topbar.pf-c-page__main-section .pf-c-dropdown__toggle {
  color: var(--pf-global--palette--black-900);
}

.all-services-list__topbar.pf-c-page__main-section .pf-c-dropdown__menu {
  max-height: 25em;
  overflow-y: scroll;
}

.all-services-list__topbar.pf-c-page__main-section .pf-c-dropdown__menu .pf-c-dropdown__menu-item {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
