.rhpds-status-available {
  color: var(--pf-global--success-color--100);
}

.rhpds-status-failed {
  color: var(--pf-global--danger-color--100);
}

.rhpds-status-running {
  color: var(--pf-global--success-color--100);
}
