.rhpds-services.pf-c-page__main-section {
  margin: 0;
  padding: 0;
}

.rhpds-services.pf-c-page__main-section .pf-c-title {
  background-color: white;
  padding: 10pt 15pt 8pt;
}


.rhpds-services.pf-c-page__main-section .pf-c-data-list__item:hover::before {
    position: absolute;
    top: var(--pf-c-data-list__item--before--Top);
    bottom: 0;
    left: 0;
    width: 6pt;
    content: "";
    background-color: var(--pf-global--active-color--100);
    transition: var(--pf-c-data-list__item--before--Transition);
}

.rhpds-services.pf-c-page__main-section .pf-c-data-list__cell a {
  color: var(--pf-global--palette--black-900);
}

.rhpds-services.pf-c-page__main-section .pf-c-data-list__cell a:hover {
  color: var(--pf-global--palette--black-900);
  text-decoration: none;
}

.rhpds-services.pf-c-page__main-section .pf-c-data-list__cell ul.pf-c-list {
  padding-left: 0;
  list-style: none;
}

.rhpds-services.pf-c-page__main-section .pf-c-data-list__cell ul.pf-c-list li .pf-c-button.pf-m-plain {
  margin-top: calc(-1 * var(--pf-c-button--PaddingTop));
  margin-bottom: calc(-1 * var(--pf-c-button--PaddingBottom));
  margin-left: calc(-1 * var(--pf-c-button--PaddingLeft));
  margin-right: calc(-1 * var(--pf-c-button--PaddingRight));
  color: var(--pf-c-button--m-plain--focus--Color);
}

.rhpds-services .pf-c-data-list__item-action {
  display: grid;
}

.rhpds-services .pf-c-data-list__item-action > button {
  margin: 3pt 0;
  min-width: 100px;
}

.rhpds-services .pf-c-data-list__cell {
  padding-top: 8pt;
}

.rhpds-services .pf-c-data-list__item-action {
  padding-top: 8pt;
  padding-bottom: 8pt;
}

.rhpds-services .pf-c-description-list {
  row-gap: 2pt;
}

.rhpds-status-failed {
  color: var(--pf-global--danger-color--100);
}

.rhpds-status-running {
  color: var(--pf-global--success-color--100);
}

.rhpds-no-services-message.pf-l-bullseye {
  height: 80%;
}

.rhpds-services .pf-c-data-list__expandable-content {
  border-top: none;
}

.rhpds-user-data.pf-c-description-list {
  border-left: 3px solid var(--pf-global--palette--black-300);
  padding-left: 10px;
}

.rhpds-selected-service.pf-c-data-list__item::before {
  width: 5px;
}

.rhpds-expand-details {
  display: block;
  font-size: 20pt;
  text-align: center;
  line-height: 5pt;
}

.rhpds-services .pf-c-description-list__group {
  margin-top: 2pt;
}

.rhpds-project-select.pf-c-page__main-section {
  padding: 5pt 15pt;
  border-bottom: 1px solid var(--pf-global--palette--black-300);
  display: flex;
}

.rhpds-project-select.pf-c-page__main-section .pf-c-dropdown__toggle {
  color: var(--pf-global--palette--black-900);
}

.rhpds-project-select.pf-c-page__main-section .pf-c-dropdown__menu {
  max-height: 500px;
  overflow-y: scroll;
}
