.service-status--available {
  color: var(--pf-v5-global--success-color--100);
}

.service-status--failed {
  color: var(--pf-v5-global--danger-color--100);
  text-transform: capitalize;
}

.service-status--running {
  color: var(--pf-v5-global--success-color--100);
}
