.services-create-workshop-button.pf-c-button {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.services-item-body.pf-c-page__main-section {
  padding-top: 0px;
}

.services-item-body.pf-c-page__main-section .pf-c-tabs {
  margin-left: -100px;
  padding-left: 100px;
  margin-right: -100px;
  padding-right: 100px;
  margin-bottom: 10pt;
}

.services-item-body.pf-c-page__main-section .pf-c-description-list {
  row-gap: 0.5em;
  margin-bottom: 0.5em;
}

.services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain {
  margin-top: calc(-1 * var(--pf-c-button--PaddingTop));
  margin-bottom: calc(-1 * var(--pf-c-button--PaddingBottom));
  margin-left: calc(-1 * var(--pf-c-button--PaddingLeft));
  margin-right: calc(-1 * var(--pf-c-button--PaddingRight));
  color: var(--pf-c-button--m-plain--focus--Color);
}

.services-item-body.pf-c-page__main-section .pf-c-form__group.pf-m-action {
  margin-bottom: 2em;
  margin-top: 0;
}

.services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain:hover {
  text-decoration: underline;
}

.services-item-body.pf-c-page__main-section .pf-c-button.pf-m-plain svg.edit {
  color: var(--pf-global--link--Color);
  font-size: 0.85em;
  vertical-align: 0.2em !important;
}

.services-item-body-resource h2.pf-c-title.pf-m-lg {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.services-item-body .pf-c-description-list__group {
  align-items: center;
}

.services-item-body .pf-c-description-list__group .pf-c-select {
  width: auto;
}

.services-item-head.pf-c-page__main-section .pf-l-split .pf-c-title {
  margin-top: 0.5em;
}

.services-item-head.pf-c-page__main-section {
  border-bottom: 1px solid var(--pf-global--palette--black-300);
  padding-top: 1em;
  padding-bottom: 1em;
}

.services-item-head.pf-c-page__main-section .pf-c-breadcrumb__item {
  font-size: 1em;
  margin-top: 0.3em;
}

.services-topbar.pf-c-page__main-section {
  padding: 2pt 10pt;
  border-bottom: 1px solid var(--pf-global--palette--black-300);
}

.services-topbar.pf-c-page__main-section .pf-c-dropdown__toggle {
  color: var(--pf-global--palette--black-900);
}

.services-topbar.pf-c-page__main-section .pf-c-dropdown__menu {
  max-height: 25em;
  overflow-y: scroll;
}

.services-topbar.pf-c-page__main-section .pf-c-dropdown__menu .pf-c-dropdown__menu-item {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.services-item-status-header.pf-l-split .pf-c-description-list.pf-m-horizontal {
  padding-top: 0.5em;
}

.services-item-status-header.pf-l-split .services-item-status-check-state {
  padding-top: 0.3em;
}

.rhpds-user-data.pf-c-description-list {
  border-left: 3px solid var(--pf-global--palette--black-300);
  padding-left: 10px;
}
