.service-status--available {
  color: var(--pf-t--global--border--color--status--success--default);
}

.service-status--failed {
  color: var(--pf-t--global--icon--color--status--danger--default);
  text-transform: capitalize;
}

.service-status--running {
  color: var(--pf-t--global--border--color--status--success--default);
}

.service-status--waiting {
  color: var(--pf-t--global--icon--color--status--info--default);
}
