{% extends "base.mjml.j2" %}
{% block content %}

<mj-column>
  <mj-text font-family="Red Hat Text" color="#4a5557" font-size="16px" line-height="1.5" padding-bottom="12px">

    <p>Your {{ catalog_namespace.display_name }} service, {{ service_display_name }}, has failed to provision.
    {% if have_attachments %}
    Please see attached Ansible log.
    {% endif %}
    </p>

  </mj-text>
</mj-column>

{% endblock content %}