{% extends "base.mjml.j2" %}
{% block content %}

<mj-column>
  <mj-text font-family="Red Hat Text" color="#4a5557" font-size="16px" line-height="1.5" padding-bottom="12px">

    <p>Your {{ catalog_namespace.display_name }} service {{ service_display_name }} failed to start.
    {% if have_attachments %}
    Please see attached Ansible log.
    {% endif %}
    </p>

    {% if service_url %}
    <p>You may manage your {{ catalog_namespace.display_name }} service at:<br>
    <a href="{{ service_url }}">{{ service_url }}</a>.</p>
    {% endif %}

  </mj-text>
</mj-column>

{% endblock content %}