{% extends "base.mjml.j2" %}
{% block content %}

<mj-column>
  <mj-text font-family="Red Hat Text" color="#4a5557" font-size="16px" line-height="1.5" padding-bottom="12px">

    <p><b>Reminder:</b><br>
    Your environment will be stopped in {{ stop_timedelta_humanized }} at {{ stop_timestamp }}.</p>

  </mj-text>
</mj-column>

{% endblock content %}