{% extends "base.mjml.j2" %}
{% block title %}
<mj-column>
  <mj-text font-family="Red Hat Text" font-weight="regular" align="center" font-size="16px" color="#000" line-height="1.2">
    Status: {{ service_status }}
  </mj-text>
  <mj-text font-family="Red Hat Display" font-weight="regular" align="center" font-size="35px" color="#000" line-height="1.2">
    Workshop: {{ workshop_name }}
  </mj-text>
  {% if workshop_id %}
  <mj-text font-family="Red Hat Text" font-weight="regular" align="center" font-size="16px" color="#000" line-height="1.2">
    Workshop ID: {{ workshop_id }}
  </mj-text>
  {% endif %}
</mj-column>
{% endblock %}
{% block content %}

<mj-column>
  <mj-text font-family="Red Hat Text" color="#4a5557" font-size="16px" line-height="1.5" padding-bottom="12px">

    <p>Your workshop <strong>{{ workshop_name }}</strong> is ready.</p>

    <p>The workshop environment has been provisioned and is now available for use.</p>

    {% if retirement_timestamp %}
    <p>NOTICE:<br>
    Your workshop will expire and be deleted in {{ retirement_timedelta_humanized }} at {{ retirement_timestamp }}.</p>
    {% endif %}

    <p>In order to conserve resources, we cannot archive or restore any data in this environment.
    All data will be lost upon expiration.</p>

  </mj-text>
</mj-column>

{% endblock content %}
