.multiworkshop-create__form {
  max-width: 1200px;
}

.multiworkshop-create__asset-card {
  background-color: var(--pf-t--color--gray--100);
  border: 1px solid var(--pf-t--color--border--default);
}

.multiworkshop-create__asset-card .pf-v5-c-card__body {
  padding: var(--pf-t--global--spacer--md);
}
