---
admin:
  deploy: true
  concurrency: 5
  gunicornProcesses: 5
  gunicornThreads: 1
  namespace: babylon
  image: quay.io/redhat-cop/babylon-admin:latest
  oauthProxyImage: openshift/oauth-proxy:latest
  redisImage: image-registry.openshift-image-registry.svc:5000/openshift/redis:5-el8
  redisPassword: generate

anarchy:
  apiGroup: anarchy.gpte.redhat.com
  namespaces:
  - name: anarchy-operator
  secrets: []

poolboy:
  apiGroup: poolboy.gpte.redhat.com
  namespace: poolboy

catalogNamespaces: []

crossClusterBackup:
  enable: false
  clusterRoleName: babylon-cross-cluster-backup
  namespace: babylon-cross-cluster-backup
  replik8sVersion: latest
  storageSize: 5Gi
  #kubeConfig: ...

operatorNamespace: openshift-operators
