apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "babylonCatalog.apiClusterRoleName" . }}
  labels:
    {{- include "babylonCatalog.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  - user.openshift.io
  resources:
  - groups
  - users
  verbs:
  - get
  - impersonate
  - list
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - babylon.gpte.redhat.com
  resources:
  - workshops
  - multiworkshops
  verbs:
  - get
  - list
  - patch
  - watch
  - update
