{{ if and (.Values.ratings).deploy }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "babylon.name" . }}-ratings
  annotations:
    description: >-
      Access read cluster resources for babylon ratings
  labels:
    {{- include "babylon.labels" . | nindent 4 }}
    app.kubernetes.io/component: ratings
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kopf.dev
  resources:
  - clusterkopfpeerings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - {{ .Values.ratings.babylon.domain }}
  resources:
  - catalogitems
  verbs:
  - get
  - list
  - watch
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "babylon.name" . }}-ratings
  labels:
    {{- include "babylon.labels" . | nindent 4 }}
    app.kubernetes.io/component: ratings
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "babylon.name" . }}-ratings
subjects:
- kind: ServiceAccount
  name: {{ include "babylon.name" . }}-ratings
  namespace: {{ .Values.ratings.namespace.name | default (printf "%s-ratings" .Release.Namespace) }}
{{ end }}
