{{ if .Values.ratings.deploy }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "babylon.name" . }}-ratings
  namespace: {{ .Values.ratings.namespace.name | default (printf "%s-ratings" .Release.Namespace) }}
  labels:
    {{- include "babylon.labels" . | nindent 4 }}
    app.kubernetes.io/component: ratings
{{ end }} 