.catalog-item-admin__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog-item-admin__header-icon .catalog-item-icon {
  height: 90px;
  width: 90px;
  margin-right: var(--pf-t--global--spacer--md);
}
.catalog-item-admin__title {
  font-weight: var(--pf-t--global--font--weight--400) !important;
  padding-bottom: var(--pf-t--global--spacer--xs);
}
.catalog-item-admin__subtitle {
  color: var(--pf-t--color--gray--60);
  font-size: var(--pf-t--global--icon--size--font--body--sm) !important;
  font-weight: var(--pf-t--global--font--weight--400) !important;
  padding-bottom: var(--pf-t--global--spacer--xs);
}
.catalog-item-admin__form {
  margin: var(--pf-t--global--spacer--lg) 0;
}
.catalog-item-admin__form .select-wrapper,
.catalog-item-admin__form input:not([type='number']).pf-v6-c-form-control {
  max-width: var(--babylon-form-width);
  width: 100%;
}
.catalog-item-admin__add-comment {
  max-width: var(--babylon-form-width--wider);
}
.catalog-item-admin__form .select-wrapper .pf-v6-c-select__toggle-text,
.catalog-item-admin__form .select-wrapper .pf-v6-c-select__menu-item {
  display: flex;
  flex-direction: row;
  gap: var(--pf-t--global--spacer--sm);
  align-items: center;
}
.catalog-item-admin__form .select-wrapper .pf-v6-c-select__toggle-text svg,
.catalog-item-admin__form .select-wrapper .pf-v6-c-select__menu-item svg {
  width: 20px;
}
.catalog-item-admin__group-control--single,
.catalog-item-admin__group-control--multi {
  display: flex;
  flex-direction: row;
  gap: var(--pf-t--global--spacer--md);
  align-items: center;
}

.catalog-item-admin__author {
  font-weight: var(--pf-v6-global--link--FontWeight) !important;
  font-size: var(--pf-t--global--icon--size--font--xs) !important;
  color: var(--pf-t--global--icon--color--100);
}
.catalog-item-admin__timestamp {
  color: var(--pf-t--color--gray--60);
  font-style: italic;
}
.catalog-item-admin__message {
  font-size: var(--pf-t--global--icon--size--font--xs) !important;
  padding-bottom: var(--pf-t--global--spacer--xs);
}
.catalog-item-admin__comments > li:last-child {
  padding-bottom: var(--pf-t--global--spacer--sm);
}
.catalog-item-admin__add-comment {
  margin-bottom: var(--pf-t--global--spacer--sm);
  min-height: 80px;
}
.catalog-item-admin__loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.65);
  z-index: 999;
}
.catalog-item-admin__form .pf-v6-c-menu__item-text {
  display: flex;
  flex-direction: row;
  gap: var(--pf-t--global--spacer--sm);
  align-items: center;
}