.workshop.pf-c-page__header .pf-c-page__header-brand {
  height: 60px;
}

.workshop.pf-c-page__header .rhpds-logo {
  height: 50px;
}

.workshop-login-failure {
  color: var(--pf-global--danger-color--200);
}

.workshop-login-form.pf-c-form {
  width: 300px;
}
