header.workshop {
  background-color: rgb(21, 21, 21);
}
.pf-v6-c-page.workshop {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pf-v6-c-page.workshop .pf-v6-c-page__main-container, .workshop-login {
  flex: 1;
  width: 100%;
  background-color: #f0f0f0;
}
.workshop-login__form-content {
  background-color: #fff;
}