.workshop-login__failure {
  color: var(--pf-v5-global--danger-color--200);
}
.workshop-login__form.pf-v5-c-form {
  width: 1100px;
  margin: 0 auto var(--pf-v5-global--spacer--lg);
  padding: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--md);
}
.workshop-login__form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.workshop-login__form-content {
  width: 300px;
  margin: 0 var(--pf-v5-global--spacer--xl);
  background-color: var(--pf-v5-global--palette--white);
  border-radius: 4px;
  padding: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--md);
  display: flex;
  flex-direction: column;
  gap: var(--pf-v5-global--spacer--md);
  box-shadow:
    0 5px 12px 0 rgb(3 3 3 / 12%),
    0 0 5px 0 rgb(3 3 3 / 6%);
}
.workshop-login__title {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pf-v5-global--spacer--xs);
  padding: 0 calc(var(--pf-v5-global--spacer--xl) + var(--pf-v5-global--spacer--md));
}
.workshop-login__description {
  margin-top: var(--pf-v5-global--spacer--lg);
}
