.workshop-access .pf-c-description-list__group {
  padding: var(--pf-global--spacer--md);
  background-color: var(--pf-global--palette--white);
  border-radius: 4px;
}
.workshop-access__title,
.workshop-access__description {
  text-align: center;
  padding-bottom: var(--pf-global--spacer--md);
  line-height: 1;
}
.workshop-access__content {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: var(--pf-global--spacer--lg) var(--pf-global--spacer--md);
}
