.workshops-item__body.pf-c-page__main-section {
  padding-top: 0px;
}

.workshops-item__body.pf-c-page__main-section .pf-c-tabs {
  margin-left: -100px;
  padding-left: 100px;
  margin-right: -100px;
  padding-right: 100px;
  margin-bottom: 10pt;
}

.workshops-item__body.pf-c-page__main-section .pf-c-description-list {
  row-gap: 0.2em;
  margin-bottom: 0.5em;
}

.workshops-item__body.pf-c-page__main-section .pf-c-form__group.pf-m-action {
  margin-bottom: 2em;
  margin-top: 0;
}

.workshops-item__body .pf-c-description-list__group {
  align-items: center;
}

.workshops-item__body .pf-c-description-list__group .pf-c-select {
  width: auto;
}

.workshops-item-head.pf-c-page__main-section .pf-l-split .pf-c-title {
  margin-top: 0.5em;
}

.workshops-item-head.pf-c-page__main-section {
  border-bottom: 1px solid var(--pf-global--palette--black-300);
  padding-top: 1em;
  padding-bottom: 1em;
}

.workshops-item-head.pf-c-page__main-section .pf-c-breadcrumb__item {
  font-size: 1em;
  margin-top: 0.3em;
}
.workshops-topbar.pf-c-page__main-section {
  padding: 2pt 10pt;
  border-bottom: 1px solid var(--pf-global--palette--black-300);
}

.workshops-topbar.pf-c-page__main-section .pf-c-dropdown__toggle {
  color: var(--pf-global--palette--black-900);
}

.workshops-topbar.pf-c-page__main-section .pf-c-dropdown__menu {
  max-height: 25em;
  overflow-y: scroll;
}

.workshops-topbar.pf-c-page__main-section .pf-c-dropdown__menu .pf-c-dropdown__menu-item {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.workshops-item__body .pf-c-table tbody > tr > * {
  vertical-align: middle !important;
}
