.workshops-item__body.pf-v6-c-page__main-section {
  padding-top: 0px;
  flex-grow: 1;
}

.workshops-item__body.pf-v6-c-page__main-section .pf-v6-c-tabs {
  margin-left: -100px;
  padding-left: 100px;
  margin-right: -100px;
  padding-right: 100px;
  margin-bottom: var(--pf-t--global--spacer--sm);
}

.workshops-item__body .pf-v6-c-tab-content {
  padding: var(--pf-t--global--spacer--sm) 0;
}

.workshops-item__body.pf-v6-c-page__main-section .pf-v6-c-description-list {
  row-gap: var(--pf-t--global--spacer--sm);
  margin-bottom: var(--pf-t--global--spacer--sm);
}

.workshops-item__body.pf-v6-c-page__main-section .pf-v6-c-form__group.pf-m-action {
  margin-bottom: var(--pf-t--global--spacer--md);
  margin-top: 0;
}

.workshops-item__body.pf-v6-c-page__main-section .pf-v6-c-button.pf-m-plain:hover {
  text-decoration: underline;
}

.workshops-item__body .pf-v6-c-description-list__group {
  align-items: center;
}

.workshops-item__body .pf-v6-c-description-list__group .pf-v6-c-select {
  width: auto;
}

.workshops-item__head.pf-v6-c-page__main-section {
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--md);
  border-bottom: 1px solid var(--pf-t--chart--color--black--300);
}

.workshops-item__head.pf-v6-c-page__main-section .pf-v6-c-title {
  margin-top: var(--pf-t--global--spacer--lg);
}

.workshops-item__topbar.pf-v6-c-page__main-section .pf-c-dropdown__menu {
  max-height: 25em;
  overflow-y: scroll;
}

.workshops-item__body .pf-v6-c-table tbody > tr > * {
  vertical-align: middle !important;
}
.workshops-item__group-control--single {
  display: flex;
  flex-direction: row;
  gap: var(--pf-t--global--spacer--md);
  align-items: center;
}
