{{- $catalogManager := .Values.catalogManager }}
{{- if and $catalogManager.deploy $catalogManager.salesforceApi.deploy }}
---
apiVersion: bitwarden-k8s-secrets-manager.demo.redhat.com/v1
kind: BitwardenSyncSecret
metadata:
  name: {{ $catalogManager.salesforceApi.secretName | default "babylon-catalog-manager-salesforce-api" }}
  namespace: {{ $catalogManager.namespace.name }}
spec:
  data:
    salesforce-api-token:
      secret: {{ $catalogManager.salesforceApi.bitwardenSecret | default "salesforce_api_login_token" }}
      key: service_token
{{- end }}
