<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>RHDP Catalog</title>
    <meta id="appName" name="application-name" content="RHDP Catalog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <base href="/" />
    <% if (htmlWebpackPlugin.options.TRACKING_ENABLED == 'true') { %>
    <script id="trustarc" src="//static.redhat.com/libs/redhat/marketing/latest/trustarc/trustarc.js"></script>
    <link
      rel="stylesheet"
      href="https://static.redhat.com/libs/redhat/marketing/latest/trustarc/trustecm/css/trustecm.css"
    />
    <script
      src="https://static.redhat.com/libs/redhat/marketing/latest/trustarc/trustecm/js/trustecm.js"
      data-domain="demo.redhat.com"
    ></script>
    <script
      data-src="https://static.redhat.com/libs/redhat/marketing/latest/trustarc/trustecm/js/trustecm-functional.js"
      class="trustecm"
      data-tracker-type="functional"
    ></script>
    <script
      data-src="https://static.redhat.com/libs/redhat/marketing/latest/trustarc/trustecm/js/trustecm-advertising.js"
      class="trustecm"
      data-tracker-type="advertising"
    ></script>
    <script id="dpal" src="https://www.redhat.com/ma/dpal.js" type="text/javascript"></script>
    <% } %>
  </head>

  <body>
    <noscript>Enabling JavaScript is required to run this app.</noscript>
    <div id="modal-root"></div>
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.TRACKING_ENABLED == 'true') { %>
    <div id="consent_blackbar" style="position: fixed; bottom: 0; width: 100%; z-index: 999; padding: 10px"></div>
    <script type="text/javascript">
      if ('undefined' !== typeof _satellite && 'function' === typeof _satellite.pageBottom) {
        _satellite.pageBottom();
      }
    </script>
    <% } %>
  </body>
</html>
