<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>RHPDS Catalog</title>
  <meta id="appName" name="application-name" content="RHPDS Catalog">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/images/favicon.ico">
  <base href="/">
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.GTM_ID %>');</script>
</head>

<body>
  <noscript>Enabling JavaScript is required to run this app.</noscript>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.GTM_ID %>"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div id="modal-root"></div>
  <div id="root"></div>
</body>

</html>
