.catalog-item-list-item {
  overflow: hidden;
  max-width: 1200px;
}
.catalog-item-list-item--disabled {
  opacity: 0.45;
}
.catalog-item-list-item__badge--dev,
.catalog-item-list-item__badge--test,
.catalog-item-list-item__badge--event {
  background-color: var(--pf-global--danger-color--100);
}

.catalog-item-list-item__card {
  display: flex;
  flex-direction: row;
  padding: var(--pf-global--spacer--lg);
  height: 150px;
}
.catalog-item-list-item__card .catalog-item-icon {
  height: auto;
  max-height: 60px;
  width: 60px;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: var(--pf-global--spacer--md);
}
.catalog-item-list-item:hover {
  box-shadow: var(--pf-c-card--m-hoverable--hover--BoxShadow);
  text-decoration: none;
}

.catalog-item-list-item__body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: var(--pf-global--spacer--xs);
}

.catalog-item-list-item__description {
  line-height: 1.25em !important;
  overflow: hidden;
  font-weight: var(--pf-global--link--FontWeight) !important;
  font-size: var(--pf-global--FontSize--sm) !important;
  color: var(--pf-global--Color--100);
  margin-top: var(--pf-global--spacer--xs);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-overflow: ellipsis;
}

.catalog-item-list-item__header {
  margin: 0 auto;
  padding: 0 !important;
  margin-right: var(--pf-global--spacer--lg);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  color: var(--pf-global--palette--black-900);
}

.catalog-item-list-item__statusPageIcon {
  position: absolute;
  top: -6px !important;
  left: 75px !important;
  width: 20px !important;
}
.catalog-item-list-item__badge {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.catalog-item-list-item__subtitle {
  color: var(--pf-global--palette--black-600);
  font-size: var(--pf-global--FontSize--xs) !important;
  line-height: 1.25 !important;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.catalog-item-list-item__title {
  color: var(--pf-global--Color--100);
  font-size: var(--pf-global--FontSize--md) !important;
  line-height: var(--pf-global--LineHeight--sm) !important;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
