.catalog__searchbox {
  max-width: 320px;
}

.catalog__item-count {
  justify-content: flex-end;
  display: flex;
}

.catalog__content-box.pf-v6-c-page__main-section {
  background-color: var(--pf-v6-global--palette--black-200);
  min-height: 460px;
}

.catalog__content-box--empty.pf-v6-c-page__main-section {
  background-color: var(--pf-v6-global--palette--black-200);
  min-height: 450px;
}
.catalog__right-tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}