.catalog-item-details__actions {
  padding: 0;
  margin-top: var(--pf-global--spacer--sm);
}

.catalog-item-details__actions .pf-c-button {
  margin-right: var(--pf-global--spacer--sm);
}

.catalog-item-details__actions-loading {
  display: block;
  text-align: center;
}

.catalog-item-details__body {
  border-top: 1px solid var(--pf-global--palette--black-300);
  padding-top: var(--pf-global--spacer--md) !important;
}

.catalog-item-details__description-label {
  font-size: var(--pf-global--FontSize--2xl);
  font-weight: normal;
  color: var(--pf-global--palette--black-600);
  line-height: var(--pf-c-title--m-md--LineHeight);
  font-family: var(--pf-global--FontFamily--heading--sans-serif);
  padding-bottom: var(--pf-global--spacer--sm);
}

.catalog-item-details__sidebar {
  max-width: 160px;
  padding-top: var(--pf-global--spacer--sm);
  padding-right: var(--pf-global--spacer--md);
}
.catalog-item-details__sidebar dd,
.catalog-item-details__sidebar dt {
  font-size: var(--pf-global--FontSize--sm);
}

.catalog-item-details__sidebar .pf-c-description-list {
  row-gap: var(--pf-global--spacer--sm);
}

.catalog-item-details__sidebar .pf-c-description-list__group {
  row-gap: 0;
}

.catalog-item-details__sidebar .pf-c-description-list__text {
  text-transform: capitalize;
}

.catalog-item-details__estimated-time .pf-c-description-list__text {
  text-transform: initial;
}

.catalog-item-details__header-icon .catalog-item-icon {
  height: 90px;
  width: 90px;
  margin-right: var(--pf-global--spacer--md);
}

.catalog-item-details__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog-item-details__title {
  font-weight: var(--pf-global--FontWeight--bold) !important;
  padding-bottom: var(--pf-global--spacer--xs);
}

.catalog-item-details__subtitle {
  color: var(--pf-global--palette--black-600);
  font-size: var(--pf-global--FontSize--sm) !important;
  font-weight: var(--pf-global--FontWeight--bold) !important;
  padding-bottom: var(--pf-global--spacer--xs);
}

.catalog-item-details__description h1 {
  font-size: 1.3em;
  font-weight: bold;
}

.catalog-item-details__description h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.catalog-item-details__description h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.catalog-item-details__description h4 {
  font-size: 1.05em;
  font-weight: bold;
}

.catalog-item-details__description h5 {
  font-weight: bold;
}

.catalog-item-details__description p {
  margin-bottom: 0.5em;
}

.catalog-item-details__description pre {
  background-color: #ddd;
  padding: 0.6em 0.8em;
  margin: 0.6em 0;
}

.catalog-item-details__description ul {
  list-style: unset;
  margin-left: var(--pf-global--spacer--md);
}

.catalog-item-details__description a::after {
  content: url('@app/bgimages/external-link.svg');
  color: var(--pf-global--link--Color);
  display: inline-block;
  width: 16px;
  padding: 0 3px;
}

.catalog-item-details__access-deny-reason {
  color: red;
  padding: 0.1em;
}
