.catalog-item-workshop-form-title.pf-c-page__main-section {
  border-bottom: 1px solid var(--pf-v5-global--palette--black-300);
}

.catalog-item-workshop-form-parameters.pf-c-page__main-section {
  border-bottom: 1px solid var(--pf-v5-global--palette--black-300);
}
