.catalog-item-card__wrapper {
  position: relative;
}

.catalog-item-card {
  color: var(--pf-global--Color--100);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: var(--pf-c-card--BoxShadow);
  height: 260px;
  width: 280px;
  padding: var(--pf-global--spacer--lg);
  overflow: hidden;
}

.catalog-item-card--disabled {
  opacity: 0.45;
}

.catalog-item-card:hover {
  box-shadow: var(--pf-c-card--m-hoverable--hover--BoxShadow);
  text-decoration: none;
}

.catalog-item-card .catalog-item-icon {
  height: auto;
  max-height: 60px;
  width: 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.catalog-item-card__body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: var(--pf-global--spacer--xs);
}

.catalog-item-card__description {
  line-height: 1.25em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 300 !important;
  font-size: var(--pf-global--FontSize--xs) !important;
  color: var(--pf-global--Color--100);
  white-space: normal;
  text-overflow: ellipsis;
}

.catalog-item-card__header {
  margin-bottom: var(--pf-global--spacer--sm);
  padding: 0 0 0 !important;
  min-height: 60px;
  position: relative;
}

.catalog-item-card__header.pf-c-card__header > .pf-l-split {
  width: 100%;
}
.catalog-item-card__header.pf-c-card__header svg,
.catalog-item-card__header.pf-c-card__header img {
  position: absolute;
  top: 0;
  left: 0;
}
.catalog-item-card__statusPageIcon {
  top: -6px !important;
  left: 46px !important;
  width: 20px !important;
}
.catalog-item-card__badges {
  text-align: right;
  position: absolute;
  top: var(--pf-global--spacer--md);
  right: var(--pf-global--spacer--lg);
  z-index: 50;
}

.catalog-item-card__badges--support-type {
  background-color: var(--pf-global--danger-color--100);
}

.catalog-item-card__badges--dev,
.catalog-item-card__badges--test {
  background-color: var(--pf-global--danger-color--100);
}

.catalog-item-card__subtitle {
  color: var(--pf-global--palette--black-600);
  font-size: var(--pf-global--FontSize--xs) !important;
  display: flex;
  align-items: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.catalog-item-card__title {
  color: var(--pf-global--Color--100);
  font-size: var(--pf-global--FontSize--md) !important;
  line-height: var(--pf-global--LineHeight--sm) !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.catalog-item-card__rating {
  margin-top: auto;
  margin-bottom: 0;
}
