.catalog-namespace-select {
  padding: var(--pf-v5-global--spacer--xs) var(--pf-v5-global--spacer--md) !important;
  border-bottom: 1px solid var(--pf-v5-global--palette--black-300);
  display: flex;
}

.catalog-namespace-select .pf-c-dropdown__toggle {
  color: var(--pf-v5-global--palette--black-900);
}

.catalog-namespace-select .pf-c-dropdown__menu {
  max-height: 500px;
  overflow-y: scroll;
}
