.catalog__body > .pf-c-card {
  border: 1px solid #f0f0f0;
  box-shadow: none;
}

.catalog__body > .pf-c-card > .pf-c-card__body {
  padding: var(--pf-global--spacer--md) 0 0 0;
}

.catalog__header {
  padding: 0 var(--pf-global--spacer--xl) var(--pf-global--spacer--md) 0 !important;
}

.catalog__header .pf-c-title {
  margin-bottom: var(--pf-global--spacer--xs) !important;
}

.catalog__header .pf-c-search-input {
  max-width: 320px;
}

.catalog__sidebar-panel {
  padding-right: var(--pf-global--spacer--md);
}

.catalog__item-count {
  align-items: flex-end;
  display: flex;
  font-weight: var(--pf-global--FontWeight--bold);
}

.catalog__content-box.pf-c-page__main-section {
  background-color: var(--pf-global--palette--black-200);
  display: grid;
  gap: var(--pf-global--spacer--md) var(--pf-global--spacer--md);
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 280px);
  min-height: 460px;
}

.catalog__content-box--empty.pf-c-page__main-section {
  background-color: var(--pf-global--palette--black-200);
  min-height: 450px;
}
