.catalog-namespace-selector__title {
  margin-bottom: var(--pf-t--global--spacer--sm);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.catalog-namespace-selector__options .pf-v6-l-stack {
  gap: var(--pf-t--global--spacer--sm);
}
