.catalog-item-form {
  flex-grow: 1;
}

.catalog-item-form__form {
  margin: var(--pf-global--spacer--lg) 0;
}

.catalog-item-form__form .pf-c-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog-item-form__form .catalog-terms-of-service {
  background-color: var(--pf-global--BackgroundColor--light-300);
  padding: var(--pf-global--spacer--md);
}
.catalog-item-form__form .catalog-terms-of-service .pf-c-form__label {
  cursor: default;
}

.catalog-item-form__group-control--single,
.catalog-item-form__group-control--multi,
.catalog-item-form__form .catalog-terms-of-service .pf-c-form__group-control {
  display: flex;
  flex-direction: row;
  gap: var(--pf-global--spacer--md);
  align-items: center;
}
.catalog-item-form__group-control--multi {
  padding-bottom: var(--pf-global--spacer--sm);
}
.catalog-item-form__form .catalog-terms-of-service .pf-c-form__group-control {
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item-form__form .select-wrapper,
.catalog-item-form__form input:not([type='number']).pf-c-form-control {
  max-width: var(--babylon-form-width);
  width: 100%;
}

.catalog-item-form__form textarea {
  max-width: var(--babylon-form-width--wider);
}

.catalog-item-form__workshop-form {
  gap: var(--pf-global--gutter--md);
  display: grid;
}
