.catalog-item-list-item {
  overflow: hidden;
  max-width: 1200px;
  text-decoration: none;
}
.catalog-item-list-item--disabled {
  opacity: 0.45;
}
.catalog-item-list-item__badge--dev,
.catalog-item-list-item__badge--test,
.catalog-item-list-item__badge--event,
.catalog-item-list-item__badge--sla {
  background-color: var(--pf-t--global--icon--color--status--danger--default);
}

.catalog-item-list-item__card {
  display: flex;
  flex-direction: row;
  padding: var(--pf-t--global--spacer--lg);
  height: 150px;
}
.catalog-item-list-item__card .catalog-item-icon {
  height: auto;
  max-height: 60px;
  width: 60px;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: var(--pf-t--global--spacer--md);
}
.catalog-item-list-item:hover {
  box-shadow: var(--pf-v6-c-card--m-hoverable--hover--BoxShadow);
  text-decoration: none;
}

.catalog-item-list-item__body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--xs);
}

.catalog-item-list-item__description {
  line-height: 1.25em !important;
  overflow: hidden;
  font-size: var(--pf-t--global--icon--size--font--body--sm) !important;
  color: var(--pf-t--global--icon--color--100);
  margin-top: var(--pf-t--global--spacer--xs);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-overflow: ellipsis;
}

.catalog-item-list-item__header {
  margin: 0 auto;
  padding: 0 !important;
  margin-right: var(--pf-t--global--spacer--lg);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 142px;
  color: var(--pf-v6-global--palette--black-900);
  position: relative;
}

.catalog-item-list-item__statusPageIcon {
  position: absolute;
  top: -6px !important;
  left: 75px !important;
  width: 20px !important;
}

.catalog-item-list-item__subtitle {
  color: var(--pf-t--color--gray--60);
  font-size: var(--pf-t--global--icon--size--font--xs) !important;
  line-height: 1.25 !important;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.catalog-item-list-item__title {
  color: var(--pf-t--global--icon--color--100);
  font-size: var(--pf-t--global--icon--size--font--body--default) !important;
  line-height: var(--pf-t--global--font--line-height--100) !important;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
