.header-component .pf-v5-c-app-launcher__menu-item-external-icon {
  opacity: 1;
  color: var(--pf-v5-c-app-launcher__menu-item--Color);
}
.header-component__user-controls button::before {
  border: none;
}

.header-component__user-controls--warning .pf-v5-c-dropdown__toggle-text {
  color: #ee0000;
  font-weight: bold;
}

@media (--small-viewport) {
  .header-component.pf-v5-c-page__header {
    grid-template-columns: 1fr 0;
  }
}
