# Component Versions
agnosticv_operator_version: v0.0.25
agnosticv_repositories: []
anarchy_version: v0.4.1
babylon_anarchy_governor_version: v0.0.6
k8s_config_version: 0.2.0
poolboy_version: v0.2.13
user_namespace_operator_version: v0.1.5

# Default values for private config source
babylon_private_deploy_key: ''
babylon_private_resources: []

babylon_resources:
  # gpte namespace
  - namespace: gpte
    resources:
      - name: opentlc-mgr service account
        file: serviceaccounts/opentlc-mgr.yaml
      - name: anarchy-operator-gpte rolebinding
        file: rolebindings/anarchy-operator-gpte.yaml
  - name: OpenTLC deployer cluster role
    file: clusterroles/opentlc-deployer.yaml
  - name: OpenTLC deployer cluster role binding
    file: clusterrolebindings/opentlc-deployer.yaml

  # Anarchy install for the cluster
  - name: Anarchy install template
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-cop/anarchy/{{ anarchy_version }}/install-template.yaml
  - namespace: anarchy-operator
    resources:
      - name: Anarchy deploy template
        openshift_template:
          url: https://raw.githubusercontent.com/redhat-cop/anarchy/{{ anarchy_version }}/deploy-template.yaml
          parameters:
            DEFAULT_RUNNER_TOKEN: "{{ k8s_info.anarchy_operator_default_runner_token }}"
            OPERATOR_HOSTNAME: anarchy-operator.{{ k8s_info.cluster_ingress_domain }}
            OPERATOR_IMAGE: quay.io/redhat-cop/anarchy:{{ anarchy_version }}
            RUNNER_IMAGE: quay.io/redhat-cop/anarchy-runner:{{ anarchy_version }}
      - name: OpenTLC secret manager role
        file: roles/opentlc-secret-manager.yaml
      - name: OpenTLC secret manager role binding
        file: rolebindings/opentlc-secret-manager.yaml

  # User Namespace Operator
  - name: UserNamespaceConfig CRD
    url: https://raw.githubusercontent.com/redhat-gpte-devopsautomation/user-namespace-operator/master/custom-resource-definitions/usernamespaceconfigs.yaml
  - name: UserNamespace CRD
    url: https://raw.githubusercontent.com/redhat-gpte-devopsautomation/user-namespace-operator/master/custom-resource-definitions/usernamespaces.yaml
  - name: User Namespace Operator
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-gpte-devopsautomation/user-namespace-operator/{{ user_namespace_operator_version }}/deploy-template.yaml
      parameters:
        IMAGE: quay.io/gpte-devops-automation/user-namespace-operator:{{ user_namespace_operator_version }}
        NAMESPACE: user-namespace-operator

  # Poolboy
  - name: Poolboy deploy template
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-cop/poolboy/{{ poolboy_version }}/deploy-template.yaml
      parameters:
        NAMESPACE: poolboy
        IMAGE: quay.io/redhat-cop/poolboy:{{ poolboy_version }}
  - name: Poolboy Anarchy integration template
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-cop/poolboy/{{ poolboy_version }}/integration/anarchy-operator/deploy-template.yaml
  - name: Poolboy Anarchy Babylon ResourceProvider
    url: https://raw.githubusercontent.com/redhat-cop/poolboy/{{ poolboy_version }}/integration/anarchy-operator/babylon-provider.yaml

  # Grant cluster-admin access to anarchy-k8s-config
  - namespace: anarchy-k8s-config
    # Don't deploy config management to dev
    when: k8s_config_environment_level != 'dev'
    resources:
      - name: anarchy-k8s-config deploy
        openshift_template:
          url: https://raw.githubusercontent.com/redhat-cop/anarchy/{{ anarchy_version }}/deploy-template.yaml
          parameters:
            DEFAULT_RUNNER_TOKEN: "{{ k8s_info.anarchy_k8s_config_default_runner_token }}"
            OPERATOR_HOSTNAME: anarchy-k8s-config.{{ k8s_info.cluster_ingress_domain }}
            OPERATOR_IMAGE: quay.io/redhat-cop/anarchy:{{ anarchy_version }}
            RUNNER_IMAGE: quay.io/redhat-cop/anarchy-runner:{{ anarchy_version }}
      - name: anarchy-k8s-config gitops AnarchyGovernor
        template:
          file: anarchy-k8s-config/anarchygovernors/gitops.yaml.j2
      - name: anarchy-k8s-config babylon AnarchySubject
        template:
          file: anarchy-k8s-config/anarchysubjects/babylon.yaml.j2
      - name: anarchy-k8s-config deploy-key
        when: babylon_private_deploy_key != ''
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: deploy-key
          data:
            id_rsa: "{{ lookup('file', babylon_private_deploy_key) | b64encode if babylon_private_deploy_key != '' else '' }}"
  - name: anarchy-k8s-config cluster admin
    file: clusterrolebindings/cluster-admin-anarchy-k8s-config.yaml

  # agnosticv-operator
  - name: AgnosticV Operator Deploy
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-gpte-devopsautomation/agnosticv-operator/{{ agnosticv_operator_version }}/deploy-template.yaml
      parameters:
        AGNOSTICV_IMAGE: quay.io/gpte-devops-automation/agnosticv-operator:{{ agnosticv_operator_version }}
  - namespace: agnosticv-operator
    resources:
    - name: Agnosticv Operator Configuration
      template:
        file: agnosticv-operator-config.yaml.j2

  # OpenShift template access
  - name: openshift-template-access ClusterRole
    file: clusterroles/openshift-template-access.yaml
  - name: openshift-template-access ClusterRoleBinding
    file: clusterrolebindings/openshift-template-access.yaml

# Cluster level resources
k8s_resources: "{{ babylon_resources +  babylon_private_resources }}"
