# Component Versions
agnosticv_operator_version: v0.1.2
babylon_anarchy_version: v0.12.3
babylon_anarchy_governor_version: v0.2.0
babylon_aws_sandbox_version: v0.0.5
poolboy_version: v0.3.12

# Variables defaults for a variables without the "default_" prefix
default_babylon_anarchy_include_crds: true
default_babylon_anarchy_replicas: 1
default_babylon_catalog_namespaces:
- babylon
default_babylon_cross_cluster_backup_enable: false
default_babylon_cross_cluster_backup_kubeconfig: ''
default_babylon_default_anarchy_runner_min_replicas: 1

babylon_resources:
  # Anarchy install and anarchy-operator deployment
  - name: Anarchy install
    helm_template:
      git:
        repo: https://github.com/redhat-cop/anarchy.git
        version: "{{ babylon_anarchy_version }}"
      dir: helm
      include_crds: >-
        {{ babylon_anarchy_include_crds | default(default_babylon_default_anarchy_runner_min_replicas) }}
      values:
        namespace:
          name: anarchy-operator
        replicaCount: >-
          {{ babylon_anarchy_replicas | default(default_babylon_anarchy_replicas) }}
        runners:
        - name: default
          minReplicas: >-
            {{ babylon_default_anarchy_runner_min_replicas
             | default(default_babylon_default_anarchy_runner_min_replicas) }}
          resources:
            limits:
              cpu: "1"
              memory: 256Mi
            requests:
              cpu: 500m
              memory: 256Mi

  # Poolboy
  - name: Poolboy install
    helm_template:
      git:
        repo: https://github.com/redhat-cop/poolboy.git
        version: "{{ poolboy_version }}"
      dir: helm
      values:
        namespace:
          name: poolboy

  # Babylon configuration
  - name: Babylon Helm Template
    helm_template:
      dir: babylon-config
      values:
        anarchy:
          namespace: anarchy-operator
        # Evaluation to preserve boolean type
        catalogNamespaces: "{{ babylon_catalog_namespaces | default(default_babylon_catalog_namespaces) }}"
        crossClusterBackup: >-
          {{ {
            "enable": babylon_cross_cluster_backup_enable
              | default(default_babylon_cross_cluster_backup_enable) | bool,
            "kubeConfig": babylon_cross_cluster_backup_kubeconfig
              | default(default_babylon_cross_cluster_backup_kubeconfig)
          } }}

  # agnosticv-operator
  - name: AgnosticV Operator Deploy
    openshift_template:
      url: https://raw.githubusercontent.com/redhat-gpte-devopsautomation/agnosticv-operator/{{ agnosticv_operator_version }}/deploy-template.yaml
      parameters:
        AGNOSTICV_IMAGE: quay.io/redhat-gpte/agnosticv-operator:{{ agnosticv_operator_version }}
  - namespace: agnosticv-operator
    resources:
    - name: Agnosticv Operator Configuration
      template:
        file: agnosticv-operator-config.yaml.j2

# Cluster level resources
k8s_resources: "{{ babylon_resources }}"
