# Component Versions
agnosticv_operator_version: v0.10.0
babylon_anarchy_version: v0.16.7
babylon_anarchy_governor_version: v0.8.3
poolboy_version: v0.8.3

babylon_anarchy_governor_repository: https://github.com/redhat-gpte-devopsautomation/babylon_anarchy_governor.git
babylon_anarchy_governor_role:
  name: babylon_anarchy_governor
  src: "{{ babylon_anarchy_governor_repository }}"
  version: "{{ babylon_anarchy_governor_version }}"

babylon_anarchy_roles: >-
  {{ babylon_anarchy_governor_pre_roles | default([])
   + [babylon_anarchy_governor_role]
   + babylon_anarchy_governor_post_roles | default([])
  }}

# Variables defaults for a variables without the "default_" prefix
default_babylon_admin_image: "quay.io/redhat-cop/babylon-admin:v0.2.2"
default_babylon_admin_image: "quay.io/redhat-cop/babylon-admin:v0.2.2"
default_babylon_anarchy_namespaces:
- name: anarchy-operator
  commune:
    replicaCount: 1
    runners:
    - name: default
      minReplicas: 1
      resources:
        limits:
          cpu: "1"
          memory: "512Mi"
        requests:
          cpu: "500m"
          memory: "256Mi"
default_babylon_cross_cluster_backup_enable: false
default_babylon_cross_cluster_backup_kubeconfig: ''

babylon_resources:
  # Anarchy install and anarchy-operator deployment
  - name: Anarchy install
    template:
      file: anarchy-install.yaml.j2
  - name: Verify anarchycommunes.anarchy.gpte.redhat.com CRD
    info:
      api_version: apiextensions.k8s.io/v1
      kind: CustomResourceDefinition
      name: anarchycommunes.anarchy.gpte.redhat.com
    register: r_anarchycommunes_crd
    until: r_anarchycommunes_crd.resources | length > 0
    delay: 10
    retries: 30

  # Poolboy
  - name: Poolboy install
    helm_template:
      git:
        repo: https://github.com/redhat-cop/poolboy.git
        version: "{{ poolboy_version }}"
      dir: helm
      values:
        admin:
          deploy: false
        namespace:
          name: poolboy

  # Babylon configuration
  - name: Babylon Helm Template
    helm_template:
      dir: babylon-config
      include_crds: true
      values:
        admin:
          image: "{{ babylon_admin_image | default(default_babylon_admin_image) }}"
          redisPassword: "{{ babylon_admin_redis_password | default('generate') }}"
        anarchy:
          namespaces: "{{ babylon_anarchy_namespaces | default(default_babylon_anarchy_namespaces) }}"
        babylonTower: "{{ babylon_tower }}"

        # Evaluation to preserve boolean type
        catalogNamespaces: "{{ babylon_catalog_namespaces | default(default_babylon_catalog_namespaces) }}"
        crossClusterBackup: >-
          {{ {
            "enable": babylon_cross_cluster_backup_enable
              | default(default_babylon_cross_cluster_backup_enable) | bool,
            "kubeConfig": babylon_cross_cluster_backup_kubeconfig
              | default(default_babylon_cross_cluster_backup_kubeconfig)
          } }}

  # agnosticv-operator
  - name: AgnosticV Operator Deploy
    helm_template:
      git:
        repo: https://github.com/redhat-gpte-devopsautomation/agnosticv-operator.git
        version: "{{ agnosticv_operator_version }}"
      dir: helm
      include_crds: true
      values:
        # Set agnosticv repos, passing ssh_key value as sshKey
        agnosticvRepos: "{{ babylon_agnosticv_repositories | default([]) }}"
        babylonAnarchyRoles: "{{ babylon_anarchy_roles }}"

# Cluster level resources
k8s_resources: "{{ babylon_resources }}"
