.rhpds-services-item-schedule-action-modal.pf-c-modal-box .pf-c-modal-box__title-text {
  white-space: normal;
  font-size: 0.9em;
}

.rhpds-services-item-schedule-action-modal.pf-c-modal-box .pf-c-modal-box__body {
  overflow-x: visible;
  overflow-y: visible;
}

.rhpds-services-item-schedule-action-modal.pf-c-modal-box .pf-c-dropdown__menu {
  max-height: 300px;
}

.rhpds-services-item-schedule-action-modal.pf-c-modal-box .pf-c-form__group-label {
  text-transform: capitalize;
}

.rhpds-services-item-schedule-action-modal.pf-c-modal-box .pf-c-form.pf-m-horizontal .pf-c-form__group {
  grid-template-columns: none;
}
