name: Catalog UI Tests

on:
  push:
    paths:
      - catalog/**
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  job:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['14']
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: ./catalog/ui/package-lock.json
      - name: Install npm@8
        working-directory: ./catalog/ui
        run: npm i -g npm@8
      - name: Install packages
        working-directory: ./catalog/ui
        run: npm ci --prefer-offline
      - name: Run integration tests
        working-directory: ./catalog/ui
        run: npm run test
