name: Catalog UI deploy PR on OpenShift - BabyDev

on:
  push:
    paths:
      - catalog/**
    branches:
      - main
  pull_request:
    paths:
      - catalog/**
    branches:
      - main
env:        
  OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_BABYDEV_SERVER }}
  OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_BABYDEV_TOKEN }}  
  OPENSHIFT_NAMESPACE: ${{ secrets.OPENSHIFT_BABYDEV_NAMESPACE }}  
  APP_NAME: babylon-catalog
  IMAGE_NAME: babylon-catalog-ui
  IMAGE_TAGS: ${{ secrets.REGISTRY_URI }}/${{ secrets.GPTE_REGISTRY_REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
jobs:
  manual-deploy:
    name: Deploy Current Project
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2  
      
      - name: Set up buildx
        uses: docker/setup-buildx-action@v1
        if: env.IMAGE_TAGS

      - name: Login to redhat.io registry
        uses: docker/login-action@v1
        if: env.IMAGE_TAGS
        with:
          registry: ${{ secrets.REDHAT_REGISTRY_URI }}
          username: ${{ secrets.REDHAT_REGISTRY_USERNAME }}
          password: ${{ secrets.REDHAT_REGISTRY_PASSWORD }}

      - name: Login to quay.io registry
        uses: docker/login-action@v1
        if: env.IMAGE_TAGS
        with:
          registry: ${{ secrets.REGISTRY_URI }}
          username: ${{ secrets.GPTE_REGISTRY_USERNAME }}
          password: ${{ secrets.GPTE_REGISTRY_PASSWORD }}

      - name: Build and publish image
        uses: docker/build-push-action@v2
        if: env.IMAGE_TAGS
        with:
          registry: ${{ secrets.REGISTRY_URI }}
          context: catalog/ui
          file: catalog/ui/Dockerfile
          build-args: |
            STATUS_PAGE_ID=m7thn7y0z176
            MONITOR_ENABLED=false
            GTM_ID=GTM-PGZCQBB
          push: true
          tags: ${{ env.IMAGE_TAGS }}
          
      - name: Install oc
        uses: redhat-actions/oc-installer@v1
        with:
          oc_version: '4.9'
          
      - name: Log in to OpenShift 
        if: env.OPENSHIFT_BABYDEV_SERVER != ''
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ env.OPENSHIFT_BABYDEV_SERVER }}
          openshift_token: ${{ env.OPENSHIFT_BABYDEV_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: ${{ env.OPENSHIFT_BABYDEV_NAMESPACE }}
          
      - name: Deploy
        if: env.OPENSHIFT_BABYDEV_SERVER != ''
        - run: | 
         "${GITHUB_WORKSPACE}/.github/script.sh" ${{ env.APP_NAME }} ${{ env.IMAGE_TAGS }} ${{ env.OPENSHIFT_BABYDEV_NAMESPACE }}
