html,
body,
#root {
  height: 100%;
}

.pf-c-dropdown.rhpds-user-controls.rhpds-warning .pf-c-dropdown__toggle-text {
  color: #ee0000;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.pf-c-page {
  --pf-c-page__header--MinHeight: 4.5rem;
}
.tooltip-icon-only {
  opacity: 0.45;
  transition: opacity 0.3s;
  cursor: default;
}
.tooltip-icon-only:hover {
  opacity: 1;
}
@media (--small-viewport) {
  .pf-l-split {
    flex-direction: column;
  }
}
